[2013-01-28 04:54] bjorncs opened #18 "Source code check fails if path contains spaces"
The plugin only outputs "Build FAILED" when I try to run a check on source files located in directories with space characters in it's name.

Yes, I am using one of those new fancy-pants operating systems with support for spaces in folder names. Isn't it mind-blowing? :P

[2013-03-23 17:26] mvoidex opened #40 "Move ModuleInspector & CabalInspector to hackage"
Maybe it's better to move ModuleInspector & CabalInspector to separate package?

[2013-03-29 00:22] nh2 opened #47 "Use hdevtools for error checking"
We don't actually use hdevtools's speed with `hdevtools check` yet, do we?

[2013-03-29 08:15] fatlazycat opened #48 "Specifying cabal-dev sandbox"
Hi, leaving the setting cabal_dev_sandbox as "" doesn't use the cabal-dev default of using 'cabal-dev' under the current working directory.

Setting cabal_dev_sandbox appears only to work in the sublime haskell user settings file. Not when in the project file settings.

Hence I can't have a sandbox per project defined. Am I missing something ?

Thanks

[2013-03-30 15:03] ghost opened #49 "SublimeHaskell: Failed to compile ModuleInspector"
Recently I've got this error:

    SublimeHaskell: Failed to compile ModuleInspector

    /home/m0nhawk/.config/sublime-text-2/Packages/SublimeHaskell/ModuleInspector.hs:185:46:
        Not in scope: `Doc.documentationDoc'

    /home/m0nhawk/.config/sublime-text-2/Packages/SublimeHaskell/ModuleInspector.hs:194:19:
        Not in scope: data constructor `Doc.DocWarning'
        Perhaps you meant `D

[2013-04-02 10:48] nh2 opened #53 "Override default comment to "-- ""
Sublime's default comments for Haskell are `--`. We should override that to `--` (with a space) since without a space is not correct in all cases (e.g. if there is a special character afterwards, say `#`).

[2013-05-01 12:45] mvoidex opened #61 "Even if cache exists, on some systems it takes 30-40 seconds to load standard modules"

[2013-05-17 15:08] nh2 opened #64 "Turning off the ModuleInspector per-project"
I have one really big project on which the ModuleInspector runs 20 minutes.

I'd like to disable it for that.

Do you know if we can make project-specific SublimeHaskell settings in `.sublime-project`?

[2013-05-31 04:38] nh2 opened #67 "Showing the cabal build output"
For large projects where `cabal build` can take a few minutes, it would be nice to see the progress.

[2013-06-09 09:58] k-bx opened #70 "SublimeHaskell ignores settings inside "Settings -- User""
I was long trying to figure out why do I get:

[code]

After digging inside plugin's code, it turned out, that SublimeHaskell only loads settings from `SublimeHaskell.sublime-settings`. I'm not sure if this is intended (or I understood sources right), but it doesn't seem to be explicitly and obviously.

So, if this is done by intent, we should extend error-message to explicitly mention that settin

[2013-06-12 15:02] nh2 opened #72 "Autocomplete is blocking the UI"
It locks up the UI and prevents typing; we get those popups that a plugin is slow.

That shouldn't happen.

[2013-07-17 09:58] roldugin opened #81 "SublimeHaskell shadows kill line keybinding"
SublimeHaskell shadows "ctrl+k" keybinding which is a common way to delete until the end of line on unixes.

The commands that start with "ctrl+k" are "Show type", "Insert type" and "Show symbol info".

Actually, if you press "ctrl+k" and then do something else like move the cursor it will perform the kill but this is not very intuitive.

A workaround is to obviously remove these commands from the

[2013-07-31 19:00] cartazio opened #86 "uninstalling sublimehaskell in st3 broke option + left / right arrow actions on mac"
had to wipe my st3 setup to get it working again

[2013-08-27 02:09] MasseGuillaume opened #95 "ST2: Run fail"
[code]

Unlike https://github.com/SublimeHaskell/SublimeHaskell/issues/79, I do have everything on my path

[code]

[2013-08-27 02:38] MasseGuillaume opened #96 "ST3: Run fail"
[code]

[2013-08-27 08:05] PierreR opened #97 "ModuleInspector broken after the last bug fix (#90) ?"
It seems that  #90 has broken the ModuleInspector for me. Is the latest `1.14.0` of  `haskell-src-exts` required ? I am still using `haskell-src-exts-1.13.5`. Here is the error :

[code]

[2013-09-03 17:24] cartazio opened #100 "can't use "typecheck" mode"
I get the error

[code]

my user settings are

[code]

and i'm using ST3

[2013-09-13 03:09] cartazio opened #104 "module inspector build failure on ST3"
i get the following error

[code]

cabal 1.18, ghc 7.6, OS X, ST3

seems unrleated to cabal sandboxes.... am i missing some dep?

[2013-09-13 03:22] cartazio opened #105 "hackageify module inspector"
it'll be a LOT easier for me (and probably other folks) if the module inspector was cabalized and avaialble on hackage!

i'm happy to help if that would make a difference...

[2013-09-15 20:43] cartazio opened #106 "plugin_host is using too much compute"
it seems to consume 1 core on my computer! (and i have 4 HT cores, so 25% utilization doing nothing adds up!)

how can i debug this? This seems to be a huge perf problem. Perhaps a regression?

[2013-10-14 06:38] mvoidex opened #113 "Haskell REPL.tmLanguage"
Related issues

https://github.com/wuub/SublimeREPL/issues/263
https://github.com/wuub/SublimeREPL/issues/81

[2013-10-31 06:41] fatlazycat opened #117 "Support for cabal sandbox & repl"
Hi, would it be possible to add support for cabal sandboxes and using the repl via 'cabal repl'

Thanks

[2013-11-04 00:08] seanparsons opened #118 "GHC bug can't be avoided with SublimeHaskell."
This bug appears to hit SublimeHaskell directly: http://ghc.haskell.org/trac/ghc/ticket/8025

The combination of options mentioned in that issue are those currently hardcoded into build_then_warnings and typecheck_then_warnings steps.

[2013-11-27 03:38] jartur opened #125 "Cabal syntax doesn't work"
After the latest update Sublime is telling me that it cannot find Cabal.tmLanguage. I've tried to find how to point it to the new location in "Syntaxes" but failed. Maybe it is my issue, but as a simpleminded SublimeHaskell user I cannot find how to fix this on my own.

[2013-12-09 22:00] mkarpis opened #126 "ModuleInspector returns error: Parse failed at SrcLoc"
Hi, I installed sublimeHaskell on mac 10.8.5, sublime 2.0.2 and cabal 1.18.0.2.

When I save my file, with obvious error, does not report error.

Console output is:
--------------------------------------------
Package Control: Skipping automatic upgrade, last run at 2013-12-09 21:56:07, next run at 2013-12-09 22:56:07 or after
Switched syntax to SublimeHaskell's fixed Haskell syntax: /Users/eDS/de

[2014-02-15 13:58] ghost opened #133 "Autocompletion for imported modules in SublimeREPL?"
Autocompletion for standard Haskell keywords works fine inside both editor and repl windows. But autocompletion for imported modules works only inside the editor window at the moment. Should this feature be requested here or at SublimeREPL's?

[2014-02-17 19:22] ghost opened #134 "Show inferred type at point constantly"
At all times the user sees currently inferred type
as a comment above point.

### Implementation ideas
- Can be toggled from SublimeHaskell User settings.
- The line uses a comment so ModuleInspector or hsdev can still work when saving.
- Inferred type is shown in reverse order to current `SublimeHaskell: Show Type` command _(1)_
- Cursor offset from line's beginning is added to the added comment,

[2014-02-17 19:31] mfoda opened #135 "Compile error when using language extensions"
This is a minor issue:
<pre>{-# LANGUAGE LambdaCase #-}
...
main = getLine >>= \case
...
</pre>On save gives the following error:<pre>
Build FAILED
...
Warning: Parse error: case
</pre>
But the file actually compiles fine and can be run/loaded into GHCI.

[2014-04-24 18:38] nh2 opened #140 "view.window() can be None"
I just got

[code]

That happens when you open the same file in 2 tabs (e.g. with `File -> New view into file`). In that case `view.window()` returns `None`. I guess it means "this buffer is not currently visible". Of course that's not documented in the API reference...

In the case with the 2 tabs, `on_post_save()` will then be called twice for the same file.

We should guard against that in all

[2014-06-08 21:16] rehno-lindeque opened #153 "Use a cabal sandbox for SublimeHaskell (ModuleInspector)"
I've tended to install most of my development tools into a separate sandbox. It would be great to set up SublimeHaskell so that the ModuleInspector gets compiled against that sandbox... (with `aeson`, `haskell-src-exts`, `haddock`, etc...) I notice #105 also mentions putting the ModuleInspector up on Hackage, so maybe this is related.

[2014-07-16 17:08] mvoidex opened #157 "Inplace evaluation"
I'm thinking about these commands:

 * Apply to selection — apply function to selected expression, for example select `[1, 2, 3]`, run command with `map succ` and result will be `[2,3,4]`. Or find all numbers by regex `\d+` within some selection, then apply `* 2` and they will be doubled
 * Apply to selection strings — same as previous, but selection passed as string
 * Sort selection [strings] —

[2014-08-30 14:46] objectx opened #164 "Startup error under Cabal 1.21."
https://github.com/haskell/cabal/commit/62450f9a81bb7efccf1325a6addb15f693dcf755#diff-e75cdf0316fc06a8e53245affff04f5eR273 cause CabalInspector.hs compilation error.

[2014-08-31 14:18] nh2 opened #165 "haddock 2.15 is now only a binary, libs are in haddock-api"
With today's release of haddock-2.15, the haddock library functions moved to [haddock-api](http://hackage.haskell.org/package/haddock-api).

We depend on `Documentation.Haddock` for the `ModuleInspector` so we have to adjust our dependencies accordingly to work with `haddock < 2.15 || haddock-api >= 2.15`.

[2014-09-22 00:52] doubleloop opened #169 "Error when using haskell-src-exts-1.16.0: Failed to compile ModuleInspector"
[code]
Caused probably by:
https://github.com/haskell-suite/haskell-src-exts/issues/13

[2014-09-24 05:21] albertfong opened #171 "NextError/PreviousError always fails w/ "No more errors or warnings!""
parseoutput.py has the following snippet (also duplicated in SublimeHaskellPreviousError):
[code]

`fn` is a bytes object of the file name (from `encode("utf-8")`), but ERRORS appears to be keyed by the filename as a Unicode string (also in parseoutput.py):
[code]

So, the conditional `if fn in ERRORS:` won't be true, and I always see "No more errors or warnings!" when using SublimeHaskellNextErro

[2014-09-29 19:36] ndmitchell opened #175 "Integrate ghcid"
It would be great if SublimeHaskell could integrate ghcid for faster rebuilds (or perhaps one of the features already has that? but I couldn't see it), see https://github.com/ndmitchell/ghcid

I'd be happy to modify ghcid to make it easily to integrate, as needed. Please feel free to close/ignore this suggestion if it doesn't seem the right direction for the project.

[2014-11-09 06:53] wonbyte opened #182 "Failed to compile ModuleInspector"
SublimeHaskell: Failed to compile ModuleInspector

C:\Users\Greg\AppData\Roaming\Sublime Text 3\Packages\SublimeHaskell\ModuleInspector.hs:25:18:

    Ambiguous module name `Documentation.Haddock':

      it was found in multiple packages:

      haddock-api-2.15.0 haddock-2.14.3

Using x64 windows 7.

[2014-11-12 05:38] crockeea opened #183 "Move to Cabal Sandbox instead of cabal_dev"
Apparently [cabal-dev is outdated](https://github.com/creswick/cabal-dev/issues/114), but it still appears in the settings for SublimeHaskell. cabal-dev cannot be used with the latest GHC.
Is there support for the newer suggestion, and can the references to cabal-dev be removed?

[2014-12-05 12:29] rodlogic opened #185 "Exclude .hi, .o, .dyn_hi, .dyn_o from COMMAND+P"
Is there a way to make sure the following files are excluded from COMMAND+P?
[code]

[2014-12-26 09:11] agzam opened #193 "calling to hdevtools fails with Can't convert 'NoneType' object to str implicitly"
Trying to run 'Show type' says:
 `Sublime Haskell: calling to hdevtools fails with Can't convert 'NoneType' object to str implicitly`

[2015-01-03 00:59] shaurya0 opened #194 "Can not get autocomplete on imported modules"
I can't seem to get autocomplete to suggest functions from imported packages. E.g. If I write something like this

[code]
I would expect to get a suggestion for for instance "decode" if i wrote something like "dec" and asked for autocomplete suggestions.

The setup:
* ST3 Build 3065 on Ubuntu 14.04 which is run in a VM from windows.
* Haskell platform which installed GHC 7.6.3
* cabal installed fo

[2015-01-10 21:31] kindlychung commented on #182
I am using ghc 7.8.3 and I got this error, too:

    /Library/Application Support/Sublime Text 2/Packages/SublimeHaskell/ModuleInspector.hs:25:18:
    Ambiguous module name ‘Documentation.Haddock’:
    it was found in multiple packages:
    haddock-api-2.15.0.2 haddock-2.14.3

[2015-01-15 05:21] sumo opened #195 "Sublime 3 + hsdev branch - cabal build broken."
Here is the patch to get it to work. Sorry I don't know Python so it might not be the best way. Plus I have not tested on Sublime 2.

[code]

[2015-01-15 17:39] mvoidex commented on #195
Thank you for your patch! There are also another way to get `projects` (by `hsdev`) must be taken into account, so I fixed it other way.

[2015-01-15 17:39] #195 closed

[2015-01-15 22:31] mvoidex commented on #194
@shaurya0, if you're using `hsdev` branch, try to `cabal install hsdev` and set `enable_hsdev` to `true`.

[2015-01-15 22:36] #157 closed

[2015-01-17 10:47] NobbZ opened #196 "hsdevtools alternatives?"
Hi there!

Since `hsdevtools` fails to build on GHC 7.10 (and there wasn't a single commit in the last 2 years) I'm wondering if there are other ways of getting code-completion in `SublimeHaskell`.

Spontaniously `ghc-mod` and `ghc-modi` came to my mind to achieve similar. Is there a way to use one of them? Or are there other alternatives I could use?

[2015-01-17 11:03] mvoidex commented on #196
Hi! Until merged, you can use [hsdev branch](https://github.com/SublimeHaskell/SublimeHaskell/tree/hsdev). There are also many improvements and more smart completion. Take a look at [readme](https://github.com/SublimeHaskell/SublimeHaskell/blob/hsdev/README.md)

I'll copy here instruction of how to install branched version of `SublimeHaskell`:

[2015-01-17 17:13] NobbZ commented on #196
hsdev is also not available for GHC 7.10

[2015-01-17 21:41] mvoidex commented on #196
What if you disable `hdevtools`? As i remember, `ghc-mod` will be used by default

[2015-01-17 22:04] NobbZ commented on #196
Only completion I see is standard word completion by sublime. Not even
imports are completed...
Am 17.01.2015 22:41 schrieb "Alexandr Ruchkin" <notifications@github.com>:

[2015-01-20 04:09] JaviSoto commented on #169
Any news on this issue?

[2015-01-20 04:12] JaviSoto commented on #169
In case it helps anybody, I fixed this by doing:

[code]

[2015-01-20 20:52] mrkafk opened #197 "TypeError: __exit__() takes exactly 4 arguments (1 given) and other errors"
Installing current hsdev branch with ST 2 and Python 2.7.8 results in following exceptions displayed in ST 2 console:

1. Lots of exceptions like in subject

2. This error:

	Reloading plugin /home/mark/.config/sublime-text-2/Packages/SublimeHaskell/hsdev.py
	Traceback (most recent call last):
	  File "./sublime_plugin.py", line 62, in reload_plugin
	  File "./hsdev.py", line 424
		def call_callba

[2015-01-20 22:05] mvoidex commented on #197
they were in utf-8 with bom, fixed

[2015-01-22 11:53] mrkafk opened #199 "Right-click symbol, select Show symbol info"
ST2, Python 2.7.8:

Sublime Haskell: hsdev returns error: File '/home/mark/haskell/code_learn/hw.hs' not found, details: {}
Sublime Haskell: hsdev returns error: File '/home/mark/haskell/code_learn/hw.hs' not found, details: {}
Traceback (most recent call last):
  File "./sublime_plugin.py", line 362, in run_
  File "./autocomplete.py", line 868, in run
  File "./sublime_haskell_common.py", line 8

[2015-01-22 11:57] mrkafk opened #200 "Right-click library symbol, select Go to declaration"
Sublime Haskell: hsdev returns error: File '/home/mark/haskell/code_learn/hw.hs' not found, details: {}
Traceback (most recent call last):
  File "./sublime_plugin.py", line 362, in run_
  File "./autocomplete.py", line 1154, in run
TypeError: 'NoneType' object is not iterable

Haskell code:

    import System.Directory
    main = do
        getCurrentDirectory >>= print
        getHomeDirectory >

[2015-01-22 11:58] mrkafk commented on #200
P.S. as usual, it's happening in ST2 with Python 2.7.8

[2015-01-23 00:04] sumo opened #201 "hsdev branch build fails"
Error is:
[code]

[2015-01-24 05:25] doubleloop opened #202 "hsdev: no autocompletion for type constructors"
[code]
There is auto-completion on Test but no auto-completion on Foo Bar nor Foobar. Btw, auto-completion on built in like Just and Maybe works fine.

[2015-01-24 05:26] doubleloop commented on #194
It works but it crashes as hell with the msg:

[code]

[2015-01-25 04:49] mvoidex commented on #202
Fixed with https://github.com/mvoidex/hsdev/commit/0a18396cada84fd152253fc054824b45fa67d152

[2015-01-25 04:49] #202 closed

[2015-01-27 17:55] ibloom commented on #182
Same here haven't figured it out yet.

[2015-01-27 18:24] markogresak commented on #182
@kindlychung, @ibloom have you tried `hsdev` branch, like @geraldus suggested?
You have to:
 - remove SublimeHaskell (if you've installed it via package control)
 - in terminal, go to package folder (`Preferences` -> `Browse Packages...` to find the path)
 - clone SublimeHaskell repository, `cd` into it and checkout `hsdev` branch

[2015-01-28 05:48] aviaryan opened #203 "Failed to compile module inspector error only in ST 3"
[code]

I use your plugin in ST 2 and it works fine but in ST 3 I am facing the above error on ST startup.

[2015-02-02 18:57] crockeea opened #204 "Incorrect class name highlighting"
In the snippet

[code]
`foo2` is highlighted correctly, but `Foo2` is incorect: the `2` is not colored like `Foo`, nor is it italicized.

[2015-02-03 05:28] AndrewBrinker commented on #182
This information should maybe be added to the README. Switching to the hsdev branch totally solves the issue, and finding that out immediately would likely be helpful to other people.

[2015-02-03 19:14] doubleloop opened #205 "hsdev: some autocompletions lacking on imported modules"
2 files (Test.hs, Main.hs), problem in Main.hs

Test.hs:
[code]

Main.hs:
[code]

[2015-02-03 19:16] mvoidex commented on #205
Do you mean `problemFun`?

[2015-02-03 19:17] doubleloop commented on #205
Yes

[2015-02-03 19:29] doubleloop opened #206 "hsdev: "SublimeHaskell: build" stops working"
I am using command "SublimeHaskell: build" which works perfectly fine until something goes wrong and I can not use it any more with message:
[code]
in status bar. Everything is back to normal after sublime restart.

Not sure if this is the reason but every time it happens, the last stack trace in console is:
[code]

[2015-02-03 19:43] mvoidex commented on #205
In my case neither `normalFun` nor `problemFun` are completed if `Main.hs` and `Test.hs` not in some cabal project. Thanks for report, I'll fix it soon.

[2015-02-03 19:55] doubleloop opened #207 "hsdev: Coloring errors"
Right now I foun 3 small errors:

[code]

also I think `when` should be colored (as `until` is)

[2015-02-03 20:11] doubleloop opened #208 "hsdev: autocompletion of keywords"
One of the most irritating thing is when I type `do<Enter>` and instead of going to new line `do` is completed to `Double`.. Same problems with `case x of<Enter>`, `let<Enter>`, etc
I think the problem is solved if auto-completions of all keywords are added.

[2015-02-03 20:18] mvoidex commented on #207
Thanks!

[2015-02-03 20:37] doubleloop opened #209 "hsdev: one import to auto-complete them all"
[code]
actually it does not matter what module you import, for example `import Data.Either` and still  `empty` has dozens  completions .  Also this is the moment when error
[code]
happens, you just type `em`, then there is small lag, then overflow and then very long list of completions. But it will not appear again until you save the file and wait for a second.

[2015-02-03 20:52] mvoidex commented on #209
By default, when module is not found by `hsdev`, it will return all possible completions. It's questionable decision, but it was useful when `hsdev` failed to scan module with `haskell-src-exts`. I've added relaxed inspection, so there may be no need in such a behavior. After `hsdev` has scanned this module, it will return only valid completions. But right after SublimeText startup there are many

[2015-02-03 22:01] doubleloop commented on #209
Ok, it is all question of timing.. It does not meter of the content of file, problematic are moments after I saved file (which I do often). Then there is some time in witch all possible completions are shown and when the list is long then it is lagging a little.

[2015-02-03 22:25] doubleloop opened #210 "hsdev: import qualified"
[code]

you get:

[code]

and if you type `M.<ctrl-space>` you get another:
[code]
and available completions is a list of keywords

[2015-02-03 22:30] doubleloop commented on #206
I pasted wrong stack trace :P
the proper one is:
[code]

[2015-02-06 00:23] mvoidex commented on #197
Please, reopen is not fixed

[2015-02-06 00:23] #197 closed

[2015-02-06 02:46] hcarvalhoalves opened #211 "Error on ghc-mod invocation"
I get this error after saving file:

[code]

I'm using Sublime Haskell's `hsdev` branch on ST3. `ghc-mod` installed is 5.2.1.2.

[2015-02-06 02:56] hcarvalhoalves commented on #211
That really is some strange bug. According to the [README.md](https://github.com/SublimeHaskell/SublimeHaskell/blob/hsdev/README.md) `ghc-mod` shouldn't be used if using `hsdev`, and I have it enabled in my settings:

[code]

[2015-02-06 06:55] mvoidex commented on #211
Yes, `hsdev ghc-mod check` must be called. Thanks for report

[2015-02-08 23:56] nh2 commented on #211
Regarding the exception itself, this seems to do it for me:

[code]

But we have to check whether it is actually correct do to it this way and whether it also works with the old version of ghc-mod (or we just require the newer one, also OK).

[2015-02-09 01:14] hcarvalhoalves commented on #211
Applied your patch... wow, everything autocompletes beautifully in this branch! Thanks a lot.

[2015-02-10 00:00] #211 closed

[2015-02-18 20:21] mantkiew commented on #182
I am trying this branch today but my Sublime freezes completely "Not responding". I can see; however, that in Task Manager it's CPU and memory usage values are changing. I have the following settings:

hsdev: true
hdevtools: false
ghc-mod: true

I uninstalled SublimeHaskell, added the hsdev branch using "Add Repository" and installed again.

[2015-02-19 15:26] dwarduk commented on #169
In response to jonasc's comment

This will work unless you use a qualified pun in a record.

[2015-02-19 15:31] dwarduk commented on #169
In response to jonasc's comment

This will work unless you use a qualified pun in a record: [example in my gists](https://gist.github.com/dwarduk/43f4c0a1789b70e0fe9a)

A pull request that survives that case too is soon incoming :)

[2015-03-02 17:04] crockeea opened #215 "Syntax highlighting comments on class def lines"
In the following line:

    class (--my comment
           -- more comments

SH italicizes everything after `--` in the first line instead of applying comment syntax. It highlights the second line correctly.

[2015-03-05 02:06] crockeea opened #216 "Syntax highlighting for combined type signatures"
If I have a single-function type singature:

    foo :: a -> b

then `foo` gets highlighted. But if I write

    foo, bar :: a -> b

then neither get highlighted.

[2015-03-05 12:18] NobbZ commented on #203
My Errormessages differs from yours, but I use ST3 also:

[code]

And just in case:

[code]

As you can see from STs message I am using windows. Can't test on my linux machine since Haskell itself makes trouble there.

[2015-03-10 21:11] kindlychung commented on #182
I have got the same problem as @mantkiew , I am on OS X Yosemite. Sublime version 2.

[2015-03-11 07:26] djrenren opened #217 "Insert Type silently failing"
So I'm not sure exactly what state I'm supposed to be in when I execute the insert type command but I've tried with  the name of the function in the declaration highlighted, nothing selected on the line above the function, and with the "fname ::" part filled out. There is no feedback in the status bar.

I'm using the hsdev branch with hsdev enabled. "Show Symbol Info" is working and the build is p

[2015-03-11 19:26] pav5000 commented on #203
Same issue on Ubuntu, ST3
[code]

[2015-03-12 08:44] kbpal commented on #203
I've produced a video showing the installation processes of :
SublimeHaskell(master),
for Sublime Text 3,
on Windows 7 64bit.
This includes all of the recommend additions(ghc-mod, stylish, etc).

http://goo.gl/Xc9Htb

With the exception of hdevtools, the processes is identical across Windows 7/8 and Ubuntu 14.04 - as are the errors.

As shown in the video, I recommend starting with a clean "user"

[2015-03-14 02:10] keathley commented on #182
As others have said, I was able to get this working by manually cloning the repo into my sublime packages and checking out the hsdev branch.

Is there a better fix for this or should this information be added to the README?

[2015-03-14 22:20] kbpal commented on #182
Regarding the original 'haddock' issue: I've shown how this can be resolved at :  7:52  in :
http://goo.gl/Xc9Htb
Also addressed are most of the other errors reported in this and other threads.

[2015-03-15 01:27] keathley commented on #182
Depending on when #132 is going to be merged into master it may or may not make sense to add the hsdev "fix" to the README.  I'm not sure how much work needs to be done to finish that PR.

[2015-03-17 13:28] mantkiew commented on #182
The video linked to by @kbpal shows how absolutely miserable the user's life is. That is why I worked out the specific versions and creted the pull request #214. At least on Windows, it get you started quickly.

[2015-03-25 20:50] tkukushkin commented on #203
I've a similar problem
OS X
[code]
[code]

[2015-04-08 13:18] omnymi commented on #203
I'm getting the same thing in OSX and ST3

    Could not find module ‘Documentation.Haddock’
    Use -v to see a list of the files searched for.

[2015-04-08 16:20] omnymi commented on #203
After a clean install of cabal and ghc I get

[code]

[2015-04-11 19:13] mooreniemi opened #219 "SublimeHaskell/sublime_haskell_common.py?"
[code]

[2015-04-12 06:05] simonh1000 opened #220 "{- and -} being stripped from programs"
I'm not sure whether this is due to the latest version of Sublime, but I am using code with following pattern, and every few times that I hit cmd-S on my mac the first two characters `{-` and the last 2 `-}` are being stripped from the code. I'm not doing anything close to these characters.
[code]

[2015-04-15 17:27] mvoidex commented on #219
I have not enough time now, but i'll try to get into as soon as possible

[2015-04-16 02:39] cmahon commented on #219
I experienced the same error after launching ST3 from the OS X desktop but it works fine when launching from the command line using subl, presumably because ghc is on the PATH in that case.

[2015-04-16 09:03] mvoidex commented on #219
Hi, doesn't adding ghc to 'add_to_PATH' help?

	// Extra directories to be added to the front of the PATH environment variable.
	// Specify this for using custom ghc, cabal, and ghc-mod
	// Example: /home/user/.cabal/bin
	"add_to_PATH": [],

[2015-04-18 07:10] cmahon opened #222 "Language pragma auto-completion not working"
I do not get auto-completion prompts for {-# LANGUAGE #-} pragmas by default, however if I enter the following commands in the console, auto-completion works perfectly:

import SublimeHaskell.autocomplete
SublimeHaskell.autocomplete.autocompletion.language_pragmas = SublimeHaskell.autocomplete.get_ghcmod_language_pragmas()

Both enable_ghc_mod and auto_complete_language_pragmas are set to true in

[2015-04-18 15:40] mooreniemi commented on #219
@cmahon like chris, i also have no issue if i launch from terminal. i tried `add_to_PATH` but still the same errors (and i am doing `which ghc | pbcopy` so it really should be the path)

[2015-04-18 15:41] mooreniemi commented on #219
also, ghc, ghc-mod, hdevtools, are all on my system $PATH

[2015-04-18 15:52] mooreniemi commented on #182
for future users to copy pasta:
`git clone https://github.com/SublimeHaskell/SublimeHaskell.git` into the `/Packages` dir
`git checkout hsdev`
and my woes were over

[2015-04-23 07:13] pasovsky commented on #203
you can find the fix for that issue here: https://github.com/SublimeHaskell/SublimeHaskell/issues/182

[2015-05-14 21:46] BethAr opened #223 "hsdev fails with GHC 7.10.1"
I'm unable to install `hsdev` after updating to GHC 7.10.1, the reason seems to be Hackage's `ghc-mod` being incompatible with the new GHC. If I clone `ghc-mod` master and install it, it works, but `hsdev` is unable to install against it.

The error when trying to install `hsdev` with the `ghc-mod` currently in master is a bit cryptic:
[code]

[2015-05-15 10:37] mvoidex commented on #223
Hmm, I have ghc-mod from master and hsdev installed. I'll try to get into today, thanks

[2015-05-15 11:39] mvoidex commented on #223
I have to fix some issues before releasing 1.4.0, but you can clone `hsdev` master and build 1.4.0

[2015-05-18 13:17] ghost opened #224 "SublimeHaskell: Failed to compile ModuleInspector"
When I start up Sublime Text 3 with this plugin. I see this error message :

SublimeHaskell: Failed to compile ModuleInspector

/home/roelof/.config/sublime-text-3/Packages/SublimeHaskell/ModuleInspector.hs:141:12:
    Not in scope: data constructor ‘H.PNeg’
    Perhaps you meant ‘H.PRec’ (imported from Language.Haskell.Exts)

Roelof

[2015-06-07 12:09] FPtje commented on #224
Confirmed.
http://i.imgur.com/qQPd9IG.png

Looks like it was removed or changed in an update of the module.

[2015-06-07 19:10] RnMss opened #225 "Syntax highlighting for if-then-else with condition of multiple lines"
![the_bug](https://cloud.githubusercontent.com/assets/859740/8025465/a418be6a-0d8a-11e5-96b8-e21823833684.png)

In the image, on line 4, it seems that the syntax highlighting treats the first `x` as function declaration.

**How to reproduce**

write an "if-then-else" expression with condition part in multiple lines.

and on the 2nd line of the condition part, write expression in the form of `a op

[2015-06-07 19:32] RnMss commented on #225
More examples that reproduce the bug

![image](https://cloud.githubusercontent.com/assets/859740/8025618/e1844ed2-0d8e-11e5-8b4e-79c06fd0c3a6.png)

[2015-06-07 19:56] RnMss commented on #225
Sorry, it seems that the color for `==` is correct, the incorrect are the `>=` `/=` `<=` on lines 14, 16 and 17, which are treated as declarations.

This happens only when the operator has a `=` but not beginning with a `=`

![](https://cloud.githubusercontent.com/assets/859740/8025618/e1844ed2-0d8e-11e5-8b4e-79c06fd0c3a6.png)
"

[2015-06-24 22:19] 0a- commented on #203
same could-not-find-module problem on oxs yosemite

[2015-06-24 22:24] 0a- commented on #203
problem solved after following readme.

[2015-06-24 23:31] 0a- commented on #224
The only fix for now seems to be to downgrade haskell-src-exts

[2015-06-25 00:16] 0a- opened #226 "ModuleInspector Failed to compile: Constructor ‘HsBinds.TypeSig’ should have 3 arguments, but has been given 2"
SublimeHaskell: Failed to compile ModuleInspector

 Constructor ‘HsBinds.TypeSig’ should have 3 arguments, but has been given 2
[code]

and aslo

[code]

[2015-07-02 22:17] tejon opened #227 "(hsdev branch, Windows) "SublimeHaskell: Lint" not working"
It says it's linting the file in the status line, then a graphical X is added to the end of that line. No other info is displayed anywhere, and `Sublime Haskell: Auto fix` doesn't fix anything.

Running `hlint` from the commandline works fine, and there are lints in the files I've checked this with. Project building also seems to be fully functional, so I don't think there's a general issue with m

[2015-07-03 06:14] zakyggaps opened #228 "No autocompletion for packages installed in sandbox"
On loading of this plugin, it runs a "ghc-mod list" command to inspect all the visible modules, then do "ghc-mod browse -d" to all of them, parse the results and put them into a database for further usage, e.g. auto completions.

From ghc-mod 3.0.0.0, if "ghc-mod list/browse" commands are run in a cabal project directory, they will show all the visible modules and declarations in the sandbox as we

[2015-07-06 20:40] mvoidex commented on #227
Are you using hsdev from hackage or from github?

Does your file belong to some project?
If not, try to run `hsdev ghc-mod lint File.hs` in directory of `File.hs`
If yes, run `hsdev ghc-mod lint pathto/File.hs` in directory of `project.cabal`

[2015-07-12 18:20] tejon commented on #227
Sorry for slow response... yeah okay, the problem is that hsdev is looking
for hlint in the `bin` of the sandbox where I built it, rather than on the
path.

On Mon, Jul 6, 2015 at 4:40 PM, Alexandr Ruchkin <notifications@github.com>
wrote:

[2015-07-12 22:02] mvoidex commented on #227
What do you mean? hsdev uses `ghd-mod`'s `lint` command as library

[2015-07-12 23:58] tejon commented on #227
Well then `ghc-mod` is looking for it in the sandbox where I built it. :)

On Sun, Jul 12, 2015 at 6:02 PM, Alexandr Ruchkin <notifications@github.com>
wrote:

[2015-07-13 12:03] mvoidex commented on #227
I thought, that ghc-mod uses as library too :)

[2015-07-16 14:13] mvoidex commented on #227
I've updated ](https://github.com/mvoidex/hsdev) to use `hlint` as library. It's not on hackage now, but you can clone it.

[2015-07-20 11:27] mvoidex commented on #227
Must be fixed with `hsdev-0.1.4.0`

[2015-07-20 11:27] mvoidex commented on #227
Reopen, if it won't work for you

[2015-07-20 11:27] #227 closed

[2015-07-20 14:36] tuvistavie opened #229 "Build error not showing in hsdev branch"
Hi,
I am having some issues when trying to use the hsdev branch.

The main issue is that when the build fails, nothing shows up, and in the console I get the following message

[code]

Another issue, which is I think related, is that hsdev works when I start it manually, but
I get errors when Sublime starts it:

[code]

Here are info about my environment:

[code]

The project is in a cabal sandbox

[2015-07-20 15:06] mvoidex commented on #229
Can you try to run these `hsdev` commands from console (with Sublime closed):

    hsdev start
    hsdev scan --project /home/daniel/Documents/sample-project
    hsdev stop

Will it return same error?

[2015-07-20 17:30] tuvistavie commented on #229
Thanks for the quick reply.

I tried to run it with Sublime closed, if I run `hsdev start` inside the project everything goes fine, however if I run `hsdev start` from some other location, I get the same error.
Here is the full output of `scan` with the paths of the project I am actually working on.

[code]

[2015-07-20 18:13] mvoidex commented on #229
I think I found bug. If you want, you can try updated version of [hsdev](https://github.com/mvoidex/hsdev) from GitHub, while i'm installing Ubuntu to check if it's fixed.

[2015-07-21 05:33] tuvistavie commented on #229
Hi,

The scan seems to be fixed, but the build is still in the same situation and other functionalities, such as `ghc-mod type` are not working.

Here is a log (with "log": 5 in settings) of the startup process, and what I get after trying to show type.

[code]

Then, if I run

[code]

manually and try to show the type again, I get

[code]

So I suppose the file has been found, but for some reason

[2015-07-22 12:59] kolmodin commented on #224
Could we please merge #161? Then we could keep track of the dependencies (without polluting the global package database) and avoid situations like this. SublimeHaskell in its current state is very fragile and having problems like this going unfixed for a few months is a pretty high bar for new users.

[2015-07-22 15:50] mvoidex commented on #229
I've made some fixes that worked for me. Can you try?

[2015-07-22 16:04] mvoidex opened #230 "Line column positions of messages"
'\t' is considered to be of length:
1. ghc/ghc-mod - 8
2. sublime - `tab_size`
3. sublime.Region - 1
4. hsdev - 1

Output messages can be opened with mouse click (we use 'result_file_regex' in order to achieve that), but they accepts sublime line-column format (2), where tab is of `tab_size` length.
ghc/ghc-mod returns messages with columns in format (1). In order to convert it to (2) we must have

[2015-07-22 17:22] tuvistavie commented on #229
Hi, thanks for the help.

For the build, it seems to be getting better:

I tried to build with an error in the project and got the following error message:

[code]

after looking around `parseoutput.py` and doing the following change, I managed to get the panel output error back with the proper error.

[code]

However, the line with the problem does not get highlighted so maybe something else need

[2015-07-22 17:56] mvoidex commented on #229
Thanks.

Everything seems to be ok, `hsdev scan` scans all modules at once.

I think I've reproduced this bug. Try to run these commands from `/home/daniel/Documents/organizations/claudetech/applify/imageserver`

    ghc-mod type src/Main.hs 19 6
    ghc-mod -g "-i src" type src/Main.hs 19 6
    hsdev ghc-mod type 19 6 --file src/Main.hs
    hsdev ghc-mod type 19 6 --file src/Main.hs -g "-i src"

[2015-07-22 23:17] tuvistavie commented on #229
Here is the output for the commands, it seems to work when passing `-g "-i src"`.

[code]

By the way, it works only after I run `hsdev scan --project /path/to/project`:

[code]

[2015-07-22 23:42] JGailor commented on #224
:+1:

[2015-07-23 08:49] mvoidex commented on #229
Thank for information. I'll try to fix it this week

[2015-07-25 03:06] tejon commented on #227
Running `hsdev-0.1.4.1` and everything's perfect! :)

[2015-07-25 11:48] tomv564 commented on #229
This appears to have fixed the build-on-save functionality, thanks!
The following fixes highlighting the lines in the view:

[code]

This line should probably be:

[code]

[2015-07-25 12:32] tomv564 opened #231 "hsdev branch: Build on save breaks when a Haskell SublimeREPL view is open"
Line 84 of cabalbuild.py assumes all open views return a valid string for file_name(). The resulting None in view_files causes an exception on line 85:

[code]

A quick fix is to filter where p.file_name() is None:

[code]

But the proper fix might be updating is_haskell_source(view) and is_cabal_source in sublime_haskell_common.py.

Let me know if you would like pull requests for this branch.

[2015-07-25 15:56] danald opened #232 "add_to_PATH doesn't work on Windows"
On Windows, `subprocess.Popen` doesn't use doesn't use the PATH in the provided environment to find the executable.

Adding `shell=True` to the `subprocess.Popen` calls in `sublime_haskell_common.py` seems to fix this by having the shell process do the lookup.

[2015-07-26 06:49] tuvistavie commented on #229
The above change worked for me too, thanks.

I think I also found the issue for `show_type`.
In [this commit](https://github.com/mvoidex/hsdev/commit/1c83a56fca2691554142fd3fadca6b2834d14bdb) the usage of `hsinspect` seems to have changed, however `sublime_haskell_common.get_source_dir` still uses the old syntax with the `cabal` argument,
making it impossible to parse the `cabal` file, which is pr

[2015-08-03 14:13] mvoidex commented on #227
@tejon, can you test if calling `ghc-mod lint pathto/File.hs` also fails?

[2015-08-03 20:08] tejon commented on #227
It works, but I did a global install of `ghc-mod` from github, so I'm probably not the best test case anymore.

[2015-08-05 13:19] mvoidex commented on #231
Thanks!

They are also used to detect REPL views, so I think quick fix is ok here

[2015-08-05 13:19] #231 closed

[2015-08-05 20:32] tomv564 commented on #231
Sounds good, thanks!

[2015-08-06 15:52] mvoidex commented on #229
Fix for `hsinspect` issue https://github.com/SublimeHaskell/SublimeHaskell/commit/fcb7ddc378f1ac150aa7dcf4fec78db12c3e6d96

@tuvistavie,

Can you describe more detail? In my case all projects found in project folders are scanned automatically. When I open some .hs file, which is project-related, its project is scanned too.

[2015-08-06 15:57] mvoidex commented on #222
Are you using `hsdev` branch?

[2015-08-06 17:53] mvoidex commented on #205
Please check, must be fixed

[2015-08-06 17:53] #205 closed

[2015-08-06 17:54] #209 closed

[2015-08-06 18:00] #208 closed

[2015-08-06 19:47] mvoidex commented on #210
Fixed

[2015-08-06 19:47] #210 closed

[2015-08-06 19:48] mvoidex commented on #194
Must be fixed

[2015-08-06 19:48] #194 closed

[2015-08-06 23:20] cmahon commented on #222
I'm using the master branch.

[2015-08-07 03:47] tuvistavie commented on #229
Thanks for the help.

Here is Sublime Haskell log on startup:

[code]

Here is the full output of `hsdev scan --cabal` when I run it from the root of my project (where the .cabal file lives)

[code]

When I run `hsdev scan --project /path/to/project`, I have a lot of outputs of this kind:

[code]

which is where the files apparently get scanned.
As posted above, the full output is available [on pa

[2015-08-15 12:52] henriks opened #235 "KeyError exception thrown when running GHCi in hsdev branch"
This happens when the 'loaded' keyword is popped from kwargs in repl.py:repl_args. That keyword isn't passed when trying to run GHCi without a file (the "SublimeHaskell Repl: GHCi" command).

[code]

[2015-09-03 16:26] #235 closed

[2015-09-06 04:51] YLiLarry opened #237 "Status bar: Can't infer type, SublimeHaskell: Symbol * not found X"
Hello I've been struggling with this problem.

The auto-build works perfectly, it shows me warnings and error highlight errors whenever I save. Thank you for the awesome work.

However, nothing involving types works at all. I have both ghc-mod and hdevtools installed in my $PATH and I'm able to access them through the command line:
eg. hdevtools type [file] [line] [col]

When I use `shift+cmd+p` t

[2015-09-06 04:54] YLiLarry commented on #237
I tested on both ST2/3, they both not work.

my settings:

`{
	// Enables ghc-mod (you should have it installed,
	// e.g. via cabal install ghc-mod).
	// See the add_to_PATH settings to specify a custom location.
	"enable_ghc_mod": true,

	// Enable auto completion of module imports
	"auto_complete_imports": true,

	// Enable auto completion of LANGUAGE pragmas
	"auto_complete_language_pragmas": t

[2015-09-06 05:06] YLiLarry commented on #237
osx 10.10.5
ghc-mod version 5.3.0.0 compiled by GHC 7.10.2

[2015-09-06 05:22] YLiLarry commented on #237
When I choose `Type & link` the console displays an error:

[code]

[2015-09-06 05:25] YLiLarry commented on #237
`stylish-haskell` under the same `bin` directory works when i choose `SublimeHaskell: Stylish`. This confirms that sublimehaskell should be able to reach the binaries

[2015-09-08 04:18] YLiLarry commented on #237
I think I found the problem. The ghc-mod does not work with stack. The error is gone if I can successfully build with cabal.

[2015-09-08 04:18] #237 closed

[2015-09-27 14:19] CarlEdman opened #238 "ghc-mod check didn't exit with success"
Running SublimeText 3, SublimeHaskell (hsdev), Haskell Platform 7.10.2a, ghc-mod 5.4.0.0 on Win 10 x64.

When saving any FILE.hs, the following error invariably appears on the ST console:

First, the hsdev SublimeHaskell I pulled yesterday, originally tries to call "ghc-mod lint -h -u PATH\FILE.hs -g -i PATH" (Note the extra -u option).  But while hlint 1.9.21 supports the '-u' option, the current

[2015-10-05 08:09] punund opened #239 ".lhs syntax highlighting is not there"
The file type is correctly shown as Literate Haskell, but the highlighting is apparently not working:
![image](https://cloud.githubusercontent.com/assets/95124/10275619/bc14b000-6b40-11e5-9ef1-5f12ba270d2f.png)

[2015-10-16 13:50] alfonsoperez commented on #182
Thanks so much guys!!

[2015-10-21 12:01] ulidtko commented on #182
@mooreniemi FWIW, git can do even better:

    git clone --branch hsdev https://github.com/SublimeHaskell/SublimeHaskell.git

[2015-10-22 13:18] mvoidex opened #240 "Use argon"
http://hackage.haskell.org/package/argon

[2015-10-22 19:20] mdtusz commented on #224
Any updates on this? I'm still getting this error on ModuleInspector.

[2015-10-23 07:22] nineonine opened #241 "Lint failed"
Exception in thread Thread-59:
Traceback (most recent call last):
  File "./threading.py", line 901, in _bootstrap_inner
  File "./threading.py", line 858, in run
  File "/Users/nineonine/Library/Application Support/Sublime Text 3/Packages/SublimeHaskell/ghcmod.py", line 243, in wait_ghcmod_and_parse
    stdout = call_ghcmod_and_wait(args, filename)
  File "/Users/nineonine/Library/Application Sup

[2015-11-05 09:25] dogweather commented on #182
:+1: Thanks @ulidtko

[2015-11-08 07:04] corbamico commented on #203
change this
              toLibrary (PD.Library exposeds _ info)
                = CabalLibrary (map components exposeds) (toInfo info)
to
              toLibrary (PD.Library exposeds _ _ _ _ info)
                = CabalLibrary (map components exposeds) (toInfo info)

it works for me:
C:\Users\Lilas>ghc --version
The Glorious Glasgow Haskell Compilation System, version 7.10.2

[2015-11-17 15:01] Lemmih commented on #224
This is still a problem.

[2015-11-26 21:31] ShaneDrury commented on #224
As an interim fix, you can use the `hsdev` branch. See https://github.com/SublimeHaskell/SublimeHaskell/issues/182#issuecomment-94176149

[2015-12-22 19:13] #220 closed

[2016-01-14 04:54] gasi commented on #183
:+1: to renaming `use_cabal_dev` to `use_cabal_sandbox` as I found it confusing :eyes:

[2016-01-14 05:00] gasi commented on #183
Oh, I just noticed it’s already changed in `hsdev` branch. Is there documentation on what the plan is for `hsdev`? Will it become mainline? Thanks for all your great work on _SublimeHaskell_ :clap:

[2016-01-15 21:30] Jipperism commented on #182
After a number of tries I'm using the latest version of the haskell platform, and the branch specified here with ST3. It seems to work, however, I'm getting the following error message. Does this appear in other people's ST3 console as well or do I need to look into it more? I'm a bit at a loss as to how to fix this since all threads seem to point here so please tell me if this is the wrong place

[2016-01-20 08:48] mvoidex commented on #182
@Jipperism, are you using `hsdev` branch? Do you have SublimeREPL plugin installed?

[2016-01-20 08:52] mvoidex commented on #183
There's pull request #132. `hsdev` branch is still being tested, but I have not much time for it, any help appreciated

Yes, I hope :)

[2016-01-20 18:03] gasi commented on #183
@mvoidex Thanks for the reply and all your work on _SublimeHaskell_. I have been successfully using `hsdev` recently. Re: time. I absolutely understand — open source is hard. You should reach out to Nadia if you are affected by lack of support in _SublimeHaskell_: https://medium.com/@nayafia/how-i-stumbled-upon-the-internet-s-biggest-blind-spot-b9aa23618c58#.u11dp5fvm

[2016-01-21 12:22] mvoidex commented on #183
@gasi, I don't think thas SublimeHaskell is so important tool, but maybe i'm wrong. Anyway, thanks for information!

[2016-01-21 22:52] gasi commented on #183
@mvoidex Ha, I’d disagree. You are selling yourself short :smile: I am a beginner Haskell programmer and having your tool at my disposal makes a huge difference in becoming productive and more familiar with the language. If you have a place to accept donations, I’d be happy to pitch in :moneybag:

[2016-01-22 18:47] Jipperism commented on #182
Yes i am using hsdev branch, I followed the instructions for installing it through the sublime package manager by adding the repository. I figured out I did not have SublimeREPL installed indeed, and installing it fixed the error messages at startup so my question is probably not in the right place anymore since I do not get the 'Failed to compile moduleinspector' error anymore. None of the featur

[2016-01-22 18:50] mvoidex commented on #182
Yes, create new issue

[2016-01-22 21:15] mvoidex commented on #183
Seems, that PayPal doesn't accept donations in Russia, so you can try [Yandex.Money](https://money.yandex.ru/to/410013880421840) (note that sum is in roubles)

[2016-01-23 00:57] gasi commented on #183
@mvoidex Thanks, but it looks like my American bank doesn’t allow transfers via Yandex:

<img width="310" alt="yandex_money" src="https://cloud.githubusercontent.com/assets/49583/12526969/d3eb0100-c128-11e5-9417-746ce50af24e.png">

Any chance you could set up [Pledgie](https://pledgie.com/categories/open-source), [GitTip/Gratipay](https://gratipay.com/), or similar? Bummer that this doesn’t work e

[2016-01-23 22:08] mvoidex commented on #183
Maybe that's because my account wasn't confirmed (i've got confirmation email only today)
Anyway, i'm trying to confirm paypal account, which may take 2-4 working days.

[2016-01-23 22:11] mvoidex commented on #182
Also, there was a bug https://github.com/mvoidex/hsdev/issues/22 which causes hsdev crash on linux. It must be fixed in 0.1.5.3

[2016-01-26 17:36] mvoidex commented on #183
I've confirmed PayPal account, so you can try this:

[![PayPal][paypal-donate-image]][paypal-donate-link]

[paypal-donate-image]: https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif
[paypal-donate-link]: https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=voidex%40live%2ecom&lc=US&no_note=0&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHostedGuest

[2016-01-31 14:11] mvoidex commented on #183
@gasi, I've confirmed PayPal account, so you can try this:

[![PayPal][paypal-donate-image]][paypal-donate-link]

[paypal-donate-image]: https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif
[paypal-donate-link]: https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=voidex%40live%2ecom&lc=US&no_note=0&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHostedGuest

[2016-02-01 15:45] gasi commented on #183
@mvoidex Great, thanks! Sent you my donation :dollar:

[2016-02-01 15:47] mvoidex commented on #183
@gasi, received, thanks

[2016-02-14 19:17] mvoidex commented on #223
hsdev is now of 0.1.6.0 version, didn't test it with 7.10.1
feel free to reopen issue

[2016-02-14 19:17] #223 closed

[2016-02-17 19:41] crockeea commented on #225
Another issue:

   let x = 3
        y = 4

highlights `x` and `y` differently.

There seem to be so many highlighting issues; instead of writing an ad-hoc tmLanguage file, would it be possible to generate it from the yacc/[happy grammar file](https://github.com/ghc/ghc/blob/master/compiler/parser/Parser.y)?

[2016-02-18 18:19] mvoidex commented on #225
@crockeea, I don't know how to do it, any ideas?

[2016-02-22 20:06] cartazio opened #246 "dont select stack automatically"
please expose this as a flag, some colleagues of mine use stack, but i dont, this breaks my environment

[2016-02-22 20:10] cartazio commented on #246
for the near term I've just hand patched my local install of sublime haskell, but if you'd be open to a PR for this, i'm happy to put some time in next weekend if thats easiest

[2016-02-23 02:11] nh2 commented on #246
Hey Carter, in general we're happy to accept PRs to turn features off.

[2016-02-25 17:45] mvoidex commented on #246
What if someone wants use stack for some projects and not to use for other projects?

We can add flag `"use_stack"`, but if you turn it on, you won't be able to build with stack any projects. How about placing `.no-stack` near `stack.yaml`? We can't detect it and use cabal for such projects.

[2016-02-25 17:48] nh2 commented on #246
This seems to overlap with the idea of #64, being able to override SublimeHaskell settings per-project using Sublimes `.sublime-project` files.

[2016-02-25 17:51] mvoidex commented on #246
I agree, we can support per-project settings

[2016-02-27 01:18] mvoidex commented on #229
I'll close issue, because were many changes. Let me know, if something isn't working for you

[2016-02-27 01:18] #229 closed

[2016-02-27 01:21] mvoidex commented on #219
I'll close it as there were many changes. Reopen, if it still not working

[2016-02-27 01:21] #219 closed

[2016-02-27 01:21] mvoidex commented on #206
Must be fixed

[2016-02-27 01:21] #206 closed

[2016-02-27 01:24] mvoidex commented on #201
Fixed

[2016-02-27 01:24] #201 closed

[2016-02-27 01:25] mvoidex commented on #199
Reopen issue, if it still doesn't work

[2016-02-27 01:25] #199 closed

[2016-02-27 01:25] #153 closed

[2016-02-27 01:28] #165 closed

[2016-02-27 01:29] #171 closed

[2016-02-27 01:30] mvoidex commented on #135
Reopen if it still fails

[2016-02-27 01:30] #135 closed

[2016-02-27 01:41] mvoidex commented on #134
There's `show/hide all types` command
![img](https://raw.githubusercontent.com/SublimeHaskell/SublimeHaskell/master/Commands/Types.gif)

[2016-02-27 01:41] #134 closed

[2016-02-27 01:41] #126 closed

[2016-02-27 01:42] #226 closed

[2016-02-27 01:43] mvoidex commented on #224
ModuleInspector removed

[2016-02-27 01:43] #224 closed

[2016-02-27 01:44] mvoidex commented on #222
hsdev is merged into master
Reopen issue, if there's still an error

[2016-02-27 01:44] #222 closed

[2016-02-27 01:45] mvoidex commented on #203
ModuleInspector was removed

[2016-02-27 01:45] #203 closed

[2016-02-27 01:46] mvoidex commented on #200
Reopen if it still fails

[2016-02-27 01:46] #200 closed

[2016-02-27 01:47] mvoidex commented on #196
hsdev merged

[2016-02-27 01:47] #196 closed

[2016-02-27 01:49] #182 closed

[2016-02-27 01:50] #169 closed

[2016-02-27 01:50] #105 closed

[2016-02-27 01:50] #104 closed

[2016-02-27 01:50] #97 closed

[2016-02-27 01:51] #72 closed

[2016-02-27 01:52] #61 closed

[2016-02-27 01:52] #49 closed

[2016-02-27 01:54] mvoidex commented on #48
Cabal-dev sandboxes are no more supported

[2016-02-27 01:54] #48 closed

[2016-02-27 01:54] #40 closed

[2016-02-27 01:57] mvoidex commented on #217
Must be fixed

[2016-02-27 01:57] #217 closed

[2016-02-27 01:57] #183 closed

[2016-02-27 01:58] mvoidex commented on #106
Module inspector was removed

[2016-02-27 01:58] #106 closed

[2016-02-27 02:09] mvoidex commented on #67
Added in https://github.com/SublimeHaskell/SublimeHaskell/commit/657199116f0030a7cd534401c04eb9b7e0417980

[2016-02-27 02:09] #67 closed

[2016-03-04 18:37] cartazio commented on #246
i dont really care about per project personally, i just never use stack and i want that working :)

[2016-03-05 17:28] cartazio opened #248 "Latest update as of March 04 2015 doesn't show warnings after build runs"
It looks like the warnings from running a cabal build to completion no longer show up at the end the build. So I have to do a command line cabal build to get them!

Looks like this change happened pretty recently, though I've not yet dug into teasing apart what's changed.

This is problematic, because certain ghc code warnings require the full compiler pipeline to trip, rather than Running the typ

[2016-03-06 02:35] cartazio commented on #248
please let me know if theres any additional information i can provide, and thanks for being responsive

[2016-03-08 20:47] mvoidex commented on #246
@cartazio, do you have `.stack-work` directory in this project? We can also check if it exist in order to use stack

[2016-03-08 21:50] mvoidex commented on #248
Thanks, i forgot about this case: exit code is 0 and there are some warning in stderr

[2016-03-08 21:50] #248 closed

[2016-03-13 02:02] cartazio opened #249 "sublimehaskell on a standalone main.hs complains about ghc-mod even when enable_ghc_mod is set to False"
on a self standing `main.hs` file, even though my sublime haskell config is currently

[code]

i get the following warning/error:

[code]

seems like I'm probably hitting a corner case of all the lovely new work thats been going on :)

[2016-03-17 05:31] mvoidex commented on #249
:) I have to test it without enabled hsdev

[2016-03-17 05:31] #246 closed

[2016-03-18 01:46] leiserfg opened #252 "suport hindent"
Add support to https://github.com/chrisdone/hindent for auto indent.

[2016-03-18 07:04] mvoidex commented on #252
Good idea, thanks

[2016-03-18 21:43] mvoidex commented on #228
I'll close it, because we don't use ghc-mod browse anymore.

[2016-03-18 21:43] #228 closed

[2016-03-18 21:44] #185 closed

[2016-03-18 21:48] #164 closed

[2016-03-18 21:51] mvoidex commented on #125
Reopen if issue it still here

[2016-03-18 21:51] #125 closed

[2016-03-18 21:51] mvoidex commented on #117
There are 'cabal repl' and 'ghci' + 'ghci current file' commands if SublimeREPL installed.

[2016-03-18 21:51] #117 closed

[2016-03-18 21:53] #113 closed

[2016-03-19 19:53] seanparsons opened #253 "Completions blow up with TypeError."
I've got a recently installed setup and I just get this error when the completions are triggered.

[code]

[2016-03-19 20:23] mvoidex commented on #253
Everytime?
Do you have `hsdev` installed and enabled?

[2016-03-19 20:45] seanparsons commented on #253
Yup, no and no. :)

[2016-03-20 06:36] EarthCitizen opened #254 "Syntax Highlighting Considers " Char as Start of String"
When a double quote is inside two single quotes, the syntax highlighter considers the double quote the start of a string and highlights everything after that, until the next double quote, as part of one string.

In the following code:

`x = '"'; y = "123"
`

`'; y = ` are highlighted as part of one string.

What fixes this, is to escape the double quote`'\"'`, but that should not be necessary.

[2016-03-20 10:25] mvoidex commented on #253
You have to install it :)
I'll fix readme, hsdev is now used even for completions

[2016-03-20 14:44] seanparsons commented on #253
Aha, would it make sense for the plugin to catch that it isn't installed, even if it's to the point of that particular bit of code giving more detail.

[2016-03-20 18:57] mvoidex commented on #253
We are already catching it. I've tried to remove `hsdev` and after starting sublime i've got error panel:

    hsdev executable couldn't be found
    check if it's installed and in PATH

    hsdev will be disabled, enable it by setting 'enable_hsdev' to true

Will it be better not to set `enable_hsdev` to false automatically, so that sublime will check this everytime (on startup) until user decide

[2016-03-20 19:02] #254 closed

[2016-03-20 19:24] seanparsons commented on #253
What's odd though is that I have

[code]

already set in my user config.

[2016-03-20 19:31] rwobben opened #256 "Question : Can sublimetext work with stack projects"
Hello,

Can sublimehaskell handle Stack projects even if the are not compiled yet ?

[2016-03-20 21:15] mvoidex commented on #256
It needs only built dependencies, so it runs `stack build --only-dependencies` (like ghc-mod does for stack projects), which may take long.

[2016-03-20 21:42] mvoidex commented on #253
Maybe it was set long time ago?

What do you think? Or maybe you have any suggestions how could we handle it better?

[2016-03-20 23:33] seanparsons commented on #253
This laptop was blank about 5 days ago, so it's not likely!

[2016-03-21 04:34] EarthCitizen opened #257 "SublimeHaskell Keybindings Seem to Interfere with Sublime Defaults"
In default keybindings in Sublime, outside of SublimeHaskell, I can to `ctrl+shift+k` to delete a line then `super+s` to save the change to the file.

With SublimeHaskell, to delete a line I have to hit `ctrl+shift+k` twice before the line deletes, then when I type `super+s` to save, it deletes another line before saving.

[2016-03-21 12:37] mvoidex commented on #257
Ok, removed it.

[2016-03-21 12:37] #257 closed

[2016-03-21 16:50] mvoidex commented on #253
Functions which need `hsdev` now returns some default value instead of None. This will fix your case.
`enable_hsdev` will no longer be set to false automatically, popup with detailed info will be shown each time on startup if hsdev it not found

[2016-03-21 16:50] #253 closed

[2016-03-22 13:03] flip111 opened #258 "Problems with stack based haskell setup."
I switched from haskell-platform to using stack. And for general utilities like `stack-run` and `stylish-haskell` (amongst others) i try to install them into the global project. I have a few issues now with SublimeHaskell coming from this setup.

I use a simple stack template where source files are stored in src. When i open the source file and choose build it can not find the cabal file (which is

[2016-03-22 14:03] mvoidex commented on #258
Thanks! I'll get into when i have some time

[2016-04-11 13:45] basile-henry opened #260 "Highlighting support for ScopedTypeVariables"
Would it be possible to make the syntax highlighting behave properly when using `{-# LANGUAGE ScopedTypeVariables #-}`?

Right now it seems that any line starting with `identifier ::` is considered a type signature. That's fair enough but it would be nice when ScopedTypeVariable is enabled (or all the time if that is easier) to have anything after a `=` or a `<-` in a type signature not be conside

[2016-04-13 22:17] AlexKovalevych opened #261 "hsdev 0.1.8.2 support"
Currently it doesnt work with the latest version of hsdev. Tried to install 0.1.7.3 - got error:

[code]

[2016-04-16 15:13] hlawacz commented on #261
SublimeHaskell: hsdev version is incorrect: 0.1.8.2
Required version: >= 0.1.7.0 and < 0.1.8.0
Update it by running 'cabal update' and 'cabal install hsdev'

To supress this message and disable hsdev set 'enable_hsdev' to false

[2016-04-16 15:19] AlexKovalevych commented on #261
Did you try it with 0.1.8.2? It doesnt start the server, so i manually increased allowed version

[2016-04-16 15:26] hlawacz commented on #261
Yes I did that as well. Seems to work for now, but didnt do any deep testing.

For those that want to try too, I went into Packages/Browse packages, folder SublimeHaskell and edited
autocomplete.py line 1735 to max_ver = [0,1,9,0] insted of max_ver = [0,1,8,0]

[2016-04-16 15:30] AlexKovalevych commented on #261
How can it work if it wont start the server in case version check failed? https://github.com/SublimeHaskell/SublimeHaskell/blob/master/autocomplete.py#L1747

[2016-04-16 15:34] hlawacz commented on #261
I hacked [this](https://github.com/SublimeHaskell/SublimeHaskell/blob/master/autocomplete.py#L1735) to make the version allowed and it starts it.

[2016-04-16 15:38] hlawacz commented on #261
The real question is why is there upper limit to hsdev < 0.1.8.0 there.
Is it because it is known not to work?
Or just because nobody knows if it works?

[2016-04-16 15:56] AlexKovalevych commented on #261
Well, it seems to work on 0.1.8.2, so maybe its a good idea to allow it - so the package will work with a clean install without manipulations.

[2016-04-16 16:10] hlawacz commented on #261
Created a pull request :)

[2016-04-16 21:21] mvoidex commented on #261
Thanks, fixed in https://github.com/SublimeHaskell/SublimeHaskell/commit/402e7cb043566647da1eb7a0ce5182e1d2395abf

There are minor changes in error format between `1.7.*` and `1.8.*`; I also waited for 1.8.0 to be published on stackage before updating version constraints.

[2016-04-20 00:43] mankyKitty opened #263 "TypeError: object of type 'NoneType' has no len()"
Hi there,

I haven't been able to find a similar issue in the list already, so apologies if this is already here. Running ST3 Build 3103, and hsdev 0.1.8.2 and I'm seeing the following errors in the console when SublimeHaskell actions are triggered. Like autocomplete or linting etc... Digging into it when I get a moment, but if anyone has any suggestions, that'd be awesome.
[code]

[2016-04-20 09:36] mvoidex commented on #263
Hi, I'll try to on investigate at weekend

[2016-04-22 01:07] JimAmuro commented on #258
I solved the ghci problem by changing all `...cmd=["ghci"]...` to `cmd=["stack","exec","ghci"]` in `repl.py`.  Hope that helps!

[2016-04-22 18:53] flip111 commented on #258
a few commands i had to run to get more stuff working

[code]

`Preferences -> Package Settings -> SublimeHaskell -> Settings - User`

[code]

@JimAmuro i got 2 `repl.py` which one are you talking about?
[code]

[2016-04-22 19:07] JimAmuro commented on #258
@flip111 The second one, which belongs to `SublimeHaskell`.

[2016-04-22 23:00] #263 closed

[2016-04-22 23:01] mvoidex commented on #263
Not sure about `TypeError: object of type 'NoneType' has no len()`, but `listen: connection to hsdev lost: 'str' object has no attribute 'items'` must be fixed now.
Reopen if there are still some issues

[2016-04-28 12:11] cmahon opened #264 "TypeError: 'NoneType' object is not iterable"
I get this error for import completions (hsdev 0.1.8.2).

Traceback (most recent call last):
  File "/Applications/Sublime Text 3.app/Contents/MacOS/sublime_plugin.py", line 377, in on_query_completions
    res = callback.on_query_completions(v, prefix, locations)
  File "/Users/Chris/Library/Application Support/Sublime Text 3/Packages/SublimeHaskell/autocomplete.py", line 1959, in on_query_comple

[2016-05-02 17:38] cartazio opened #265 "sublime haskell falls over and doesn't finish build / build reporting, cabal build behaves fine"
so I'm not sure if its somehow related to my upgrading to the new cabal-install 1.24 release (i'm also using ghc 8.0 RC4 on OS X),
but if you do
[code]
then open the project in sublime (eg i do `subl -n ./`) and then open any of the `.hs` files, the build hangs on file `src/Hopper/Internal/Reference/HOAS.hs`. Interestingly, this ONLY seems to happen with the changes introduced by commit bfa58afdcb

[2016-05-02 17:39] cartazio commented on #265
main point is something in how errors are presented via stderror seems to be the culprate

[2016-05-02 20:25] cartazio commented on #265
what is super odd, and *surprising* is that if i change the default cabal build command to be
[code]
aka the cabal new-build command, it doesn't get stuck,

[2016-05-03 22:25] cartazio commented on #265
oh dear, i seem to no longer be able to reproduce the original issue. I"ll try again later this week and see if its still lurking

[2016-05-07 01:42] cartazio commented on #265
i'm hitting this aagain :(

[2016-05-09 12:57] mvoidex commented on #265
Hi! Sorry for delay, I have not enough time. I'll try to figure out what's going on when I can

[2016-05-09 13:54] cartazio commented on #265
Let me know how I can help. I've had a hard time reproducing it (or my
decision to patch mine locally to use new build makes it go away somehow )

On Monday, May 9, 2016, Alexandr Ruchkin <notifications@github.com> wrote:

[2016-05-10 01:36] cartazio commented on #265
hypothesis (based  on fuzzy  googling and guessing, that i can't quite repro at the moment)
http://www.chiark.greenend.org.uk/~cjwatson/blog/python-sigpipe.html and https://github.com/haskell/process/issues/49 seem possibly related, but i have no way to validate that hypothesis.  And i'm still not sure what trips it in the cabal 1.24 vs 1.22 vs ghc 7.10 vs 8.0rc4  (partly because i currenlty can't

[2016-05-10 01:39] cartazio commented on #265
https://github.com/paramiko/paramiko/issues/109 might be vaguely related, if its on the python side perhaps?

[2016-05-17 11:33] #261 closed

[2016-05-25 22:58] Daniel6 opened #266 "hsdev 0.2.0.0 support"
The current version of hsdev supplied by cabal is 0.2.0.0, SublimeHaskell requires version >= 0.1.8.0 and < 0.1.9.0.

It would be nice to assess the compatibility of 0.2.0.0 and accept it if possible.

[2016-05-26 10:16] mvoidex commented on #266
forgot `git push`, fixed

[2016-05-26 10:16] #266 closed

[2016-05-27 21:02] flip111 commented on #258
Now i'm getting this message
[code]
i also tried to install hsdev again with lts-5.14

Then later i tried with lts-5.18 but then i get this
[code]

[2016-05-27 21:12] mvoidex commented on #258
Seems, that packages were excluded until they can be built with ghc 8. I'll create pull request.

[2016-05-27 21:31] JimAmuro commented on #258
@flip111 try `lts-6.0`. It works for me.

[2016-05-27 21:39] mvoidex commented on #258
https://github.com/fpco/stackage/pull/1503

[2016-05-28 12:54] flip111 commented on #258
@JimAmuro with lts-6.0

[code]

[2016-05-28 13:29] JimAmuro commented on #258
@flip111 Sorry, I have no idea. I did nothing but put `lts-6.0` into `resolver` in `stack.yaml`.

[2016-05-28 17:14] mvoidex commented on #258
@flip111, it's strange
lts-6.0 have [simple-log-0.4.0](https://www.stackage.org/lts-6.0/package/simple-log-0.4.0)
Maybe add it as extra-deps?

[2016-05-28 20:20] flip111 commented on #258
that did it, thanks for support guys. However original issue remains.

@mvoidex let me know when you want me to investigate again which functions work and which dont. Anyway the haskell tools should be installed now properly ^^

[2016-05-29 20:15] mvoidex commented on #258
@flip111, ok :)

[2016-06-03 19:10] jgornick opened #267 "CPU/Energy Impact 100% via plugin_host -> hsdev with 0.2.0.0"
I noticed that after I installed the latest version of SublimeHaskell (2016.05.23) with hsdev 0.2.0.0, it constantly sounded like my MacBook was going to take off due to the fan noise.

I finally found that the `plugin_host -> hsdev` binding was using 100% CPU hence causing the 100% "energy impact".

Any thoughts to why this started happening after the introduction of hsdev 0.2.0.0?

Thanks!

[2016-06-05 19:34] tobia commented on #249
I had the same issue. I'm going through some basic tutorials and for the time being I have no intention of using linting or such, so I tried to disable the tools in my user settings file:

    {
        "enable_hdevtools": false,
        "enable_ghc_mod": false,
        "enable_hsdev": false
    }

Nonetheless, SublimeHaskell kept bugging me on every save. So I changed strategy and disabled the ac

[2016-06-07 11:27] mvoidex commented on #267
Do you get 100% everytime and on any project?

Try to delete cache (`Preferences → Browse packages`, remove `SublimeHaskell/hsdev` folder)
Check if `hsdev` itself works well, type this in terminal (close Sublime and ensure hsdev is not running):

    hsdev start
    hsdev scan --cabal
    hsdev scan --path <path-to-haskell-project>
    hsdev stop

[2016-06-07 20:09] jgornick commented on #267
@mvoidex Thanks for the tips!

When I run `hsdev scan --path /path/to/project` I get the following error:
[code]

Thoughts and again thanks!

[2016-06-08 14:50] crockeea opened #268 "FileNotFoundError for wrong path"
When I save a file, I see the following in the log:

[code]

Note on that last line, the path includes `test/tests/`, while it should just be `tests/`, like the first two commands. This is likely why the file can't be found.

This report might not be much to go on, but I can provide more info if you tell me how since this happens every time I save the file.

[2016-06-09 19:17] mtolly opened #269 "Use different `stack.yaml` from default"
I have a multi-package repo, that also has 2 `stack.yaml`s, set up like so:

[code]

When I load up the root directory into Sublime (the one where the `yaml`s are), and save a Haskell file, I get:

[code]

(the `yaml`s are in `haskell/`, and `build` is the package folder where the `.cabal` file is)

So, I need to tell SublimeHaskell that the `stack.yaml` file is one directory up. Is there a way to

[2016-06-09 23:36] mtolly commented on #269
Huh. Never mind, I just tried again (after installing `ghc-mod` I think?) and it now somehow works and finds the `stack.yaml` okay. So, my only request is for the other feature, using a `stack.yaml` other than the default.

[2016-06-10 10:06] mvoidex commented on #269
Do you have `hsdev` enabled? If yes, then `ghc-mod` is not used

Any suggestions how to implement it?

[2016-06-10 15:11] mtolly commented on #269
You'd think, but something seems to be very broken in my configuration. I had everything working yesterday (not everything, but it did give me a lint output on save), but then I disabled and reenabled SublimeHaskell, and today, even though this is my user settings:

[code]

and I do have `hsdev` installed and running, it is still trying to run `ghc-mod`. I uninstalled `ghc-mod` and now I get:

[co

[2016-06-11 10:11] rogergl opened #270 "hsdev returns error: Could not find module"
My Main.hs  imports the ReservedWords module, both Main.hs and ReservedWords.hs are in the src folder. Working with  ReservedWords.hs causes no problems but working with Main.hs (e.,g. show type) gives:

[code]

cabal run and test work as expected/

[2016-06-16 15:40] t-yng opened #271 "Insert import for symbol is silent failed"
I would be happy if you help me.

Nothing was inserted when I tried to Insert import for symbol, and I could not get the error message.

I sacceeded to do the code written  in README.md, so I don't know the reason I failed.
https://github.com/SublimeHaskell/SublimeHaskell/blob/master/Commands/InsertImport.gif

Enviroment
- OS X El Capitan 10.11.2
- Sublime Text Build 3114

The code I failed.
![201

[2016-06-23 15:51] flip111 commented on #258
little update ...

[code]
All installed no problem with lts-6.4

SublimeHaskell did not found tools in path (even though they are available from terminal). Had to modify configuration file.

Got this warning, even though hdevtools was deprecated
[code]

Applied patch from @JimAmuro

### test functionality ###
program:
[code]
#### without project ####
on save, shows nice box
[code]
* Reports .cabal

[2016-06-27 12:22] speedcell4 opened #272 "The equal sign in double quotation marks is not parsed correctly"
![haskell-plugin](https://cloud.githubusercontent.com/assets/3585459/16379365/3a63ef24-3cac-11e6-8598-311bd4f3ae9f.png)

The left side is rendered by SublimeHaskell, and from the 16th line you can notice the `=` is not parsed correctly, case the `<-` is in green color.

The same problem happens in SublimeREPL plugin, as what you see in the right side. I don't know if there is some dependency relat

[2016-06-27 12:25] mvoidex commented on #272
It's our issue

[2016-06-27 12:26] speedcell4 commented on #272
So, should I close the issue on [SublimeREPL page](https://github.com/wuub/SublimeREPL/issues/480)?

[2016-06-27 12:28] mvoidex commented on #272
Yes

[2016-07-02 11:15] tobia commented on #249
I give up. SublimeHaskell keeps spamming me with console messages every time I open Sublime or do other things, complaining that I don't have this or that haskell command, even when I'm not working on Haskell files. It's really distracting.

[2016-07-02 11:20] mvoidex commented on #249
Sorry for delay, i had no time. I'll try to fix it soon

[2016-07-02 11:30] mvoidex commented on #249
Which version of ST are you using: ST2 or ST3?

[2016-07-02 12:32] mvoidex commented on #249
@cartazio you have `enable_auto_check` and `enable_auto_lint` set to `True`, that's why it tries to check/lint a file. Nevertheless, current error message is meaningless, but what would be better:
* don't do anything (no messages and no check/lint as `hsdev` and `ghc-mod` are disabled)
* show message like this: "you have disabled hsdev and ghc-mod, but still have check/lint enabled, disable it to

[2016-07-02 14:18] mvoidex commented on #249
@cartazio i've removed panel error message and added different message on status bar instead
try if this fixes your issue

[2016-07-03 16:58] mvoidex commented on #267
Does this error appear in this case (with no cabal scan)?

    hsdev start
    hsdev scan --path <path-to-project>
    hsdev stop

[2016-07-09 13:50] mvoidex commented on #267
@jgornick, i'm not sure, but try setting `enable_hdocs` to `false` in settings (and ensure you've got changes from this commit: https://github.com/SublimeHaskell/SublimeHaskell/commit/c8ef93558e892f458b137a49f854b6efdf515b80)

Does it fix cpu usage?

[2016-07-11 14:40] mvoidex commented on #271
That's because this command tries to add import statement somewhere near other imports.
We have to find right place where to insert single import.
It's a bug of course, but command should work if you have at least one import.
Also, note, that unless you set `lint_check_fly` to `true` (it's experimental and i don't recommend doing this when you edit some huge files/projects), file will be rescanned

[2016-07-12 12:09] t-yng commented on #271
Thank you for your answer.
I could Insert Import if I have at least one import.
I hope to solve this problem.

[2016-07-22 19:44] ilyakooo0 opened #273 "popUp when mouseOver doesn't work"
it doesn't work on build 3114
should work on everything after 3070. Or am i missing something?

[2016-07-23 11:24] mvoidex commented on #273
It should. Make sure other features works, especially 'show symbol info'.
Unfortunately, I won't be able to get to the bottom until 6th august.

[2016-08-02 09:05] jaxuru opened #274 "Activating SublimeHaskell only when .hs files are opened"
Feature Request: One of the reasons SublimeText is so nice to use is how lightweight it is, supplying only what you need. Because of this, it feels a bit clunky to open sublime for something simple and non-haskell-related, like throwing together a script or something, and seeing that huge usage spike as Sublime Haskell inspects the database. It would be nice to have a preference option for ensurin

[2016-08-03 09:45] Kasceh opened #275 "Having trouble getting SublimeHaskell to work."
I'm trying to use SublimeHaskell but can't seem to get it to work.

My setup is as follows:

Developing on Windows 10 with Sublime 3
Source files are stored on a network drive (really my Ubuntu VM)
I build/test on the VM

I have `hsdev` installed. When I open Sublime with .hs files already open I get this:

[code]

None of the shortcuts that are supposed to work do anything (Control + kh opens Fin

[2016-08-03 17:53] jaxuru opened #276 "Trying to modify hsdev.py to only inspect when haskell project is open"
I'm trying to pick through the SublimeHaskell code to write an edit for a pull request, I'm trying to get it so that the high-usage database inspection only happens when a .hs file is open. I'm fairly lost in sublime plugin development, so I'm wondering if anybody would also want that feature and knows a bit more about writing plugins. It's annoying to have the usage spike as it inspects the datab

[2016-08-04 20:16] nh2 commented on #275
@mvoidex I think this is a bug: In https://github.com/SublimeHaskell/SublimeHaskell/blob/d4c37e0dc396d096e3ed66a0f2f619120c1e1069/worker.py#L21 `log` is not in scope (it's in `sublime_haskell_common` which is not imported).

@Kasceh Once the above is fixed the log will contain more info that can be used to further investigate your problem.

[2016-08-05 09:25] Kasceh commented on #275
@nh2 Thanks for the reply!

I've imported that module successfully however I am still experiencing some issues. The Python plug erros have gone, but I'm still getting these printing to the console:
[code]
This happens when I `Right Click -> Show Symbol Info`. Auto-complete is the normal Sublime file based auto-complete too. The code highlighting of the page is changing, but I can't seem to use any

[2016-08-08 16:00] mvoidex commented on #276
Good idea! I'll review code when I'll have some time (maybe this weekend).

[2016-08-08 16:04] mvoidex commented on #275
@Kasceh, i'll try to look into it this weekend.

[2016-08-11 08:24] Kasceh opened #277 "let/where highlighting incorrect"
When a function is defined with `let` or `where` and the function is on the same line as the directives, the code highlighting seems to think that `let` and `where` are symbol names:

![image](https://cloud.githubusercontent.com/assets/6298816/17582744/3697d560-5fa5-11e6-8d49-3206d7f9aba6.png)

The following layout shows the correct highlighting:

![image](https://cloud.githubusercontent.com/asset

[2016-08-14 22:36] Kasceh commented on #275
Thank you, @mvoidex

[2016-08-17 10:04] Kasceh commented on #277
More strange formatting:

![image](https://cloud.githubusercontent.com/assets/6298816/17732575/61e4ced4-646a-11e6-93de-d76e758d4a31.png)

[2016-08-17 10:10] mvoidex commented on #277
@Kasceh
The reason is that regex parses all indented text below as type, so that this will be parsed correctly:

    foo :: Bar
        -> Baz
        -> IO ()

In your case it fails, because indented text is not rest of type.
Any ideas how can we fix it?

[2016-08-17 14:48] Kasceh commented on #277
The occurrence of `=`, or `|` for guards should be a dead give away. I don't know if there any extensions or similar that can mess this up.

[2016-08-20 19:06] mvoidex commented on #275
sorry, still have no time :(
I believe I could find some this week or next weekend

[2016-08-26 18:09] mvoidex commented on #275
@Kasceh, are you using stack?

`hsdev whois returns error: tool error, tool: stack, id: 6, msg: can't get paths`

`hsdev` says, that it can't get stack paths, i.e. fails with `stack path` command for active module

[2016-08-26 18:11] mvoidex commented on #273
@ilyakooo0, does other features work?

[2016-08-30 16:10] jkeuhlen commented on #273
@mvoidex  I'm having the same issue, on build 3114. Everything else seems to work (symbol info, auto complete with type information, etc) but no pop up on hover text. I am on the stable build not dev build, does that matter?

[2016-08-30 20:19] mvoidex commented on #273
@ilyakooo0, @jkeuhlen, my bad; as I've found, it will work after 3116 according to https://forum.sublimetext.com/t/dev-build-3116/21148

[2016-08-30 20:24] mvoidex commented on #273
Updated in readme: https://github.com/SublimeHaskell/SublimeHaskell/commit/2ec2dd5c7dbfa433f8f1b361d8edd98b0b343423

[2016-08-31 16:15] jkeuhlen commented on #273
@mvoidex Great, thanks for the update! Awesome work on this tool by the way.

[2016-08-31 16:19] mvoidex commented on #273
@jkeuhlen, thanks :)

[2016-08-31 16:19] #273 closed

[2016-08-31 16:51] jkeuhlen opened #278 "Split Errors, warnings, and hints into individual tabs."
I'm not sure if this already exists and I'm missing it, but if it doesn't and is within the abilities of Sublime, consider this a feature request!

I'd like to split the error pane into three tabs: errors, warnings, and hints. This way, I can separate what I want to look at individually. Currently, I may have a large number of warnings that I don't particularly care about or hints that I want to g

[2016-08-31 17:51] mvoidex commented on #278
No, it's not

Thanks for idea. I agree, mixed errors/warnings/hints are annoying sometimes.

First of all, listing warnings first is definitely a bug, messages must go in this order: errors, warnings, hints.
I could update syntax for output panel to allow folding (like you can fold function body in some lang) errors/warnings/hints, so you can just fold/unfold what you want to see. What do you thin

[2016-08-31 17:57] jkeuhlen commented on #278
Folding would be a great option as well. I had the idea for tabs since a coworker uses atom which has that functionality. If sublime doesn't allow tabs there, I think being able to collapse the different sections would be an excellent alternative.

[2016-09-15 08:26] Kasceh commented on #275
@mvoidex Apologies for the delay. I do have `stack` on the Window's user and admin/system path, is that what you mean?

[2016-09-15 14:25] iamrecursion opened #279 "hsdev version incorrect"
Having just installed `SublimeHaskell` via package control, and installed `hsdev` from cabal, I'm seeing the following error when I start sublime:
[code]
If this is correct, a note should probably be put in the requirements documentation making mention of the constraint.

[2016-09-15 19:10] mvoidex commented on #279
Something strange. `SublimeHaskell` [requires `0.2.0.0`](https://github.com/SublimeHaskell/SublimeHaskell/blob/b032ac20cad0d86385bb54ea8365207d0cfda5e7/hsdev.py#L1148).  Compare code in `hsdev.py` file in `SublimeHaskell` with code at link above.

[2016-09-15 21:11] mvoidex commented on #275
@Kasceh, yes. Try scan file manually and get some info:

    hsdev start
    hsdev scan -f your-file
    hsdev whois some-name-in-file -f your-file

[2016-09-15 21:18] iamrecursion commented on #279
Ah, this was very much my bad. Turns out I still had a user channel from ages ago pulling from the hsdev branch on the repo from when that was an option.

[2016-09-15 21:18] #279 closed

[2016-09-18 23:39] karan-ta opened #281 "Command for stack exec needed to show output."
Hi Guys,

Thanks for great plugin.

i use the command SublimeHaskell:Build
and stack build runs for me.
great.

which command should i use so that
stack exec "projectname"-exe runs for me and i can see the output in the console ?

Is there a command for stack exec in sublimehaskell ?
If no -please point to documentation or steps to make it.
(I havent read any docs so far.)

[2016-09-22 08:36] Kasceh commented on #275
@mvoidex

[code]

[2016-09-22 11:01] Kasceh commented on #275
I believe the issue is that our project does not keep our `stack.yaml` (it's not even called that) in a standard place. In our dev build environment we use the `STACK_YAML` environment variable to redirect `stack` to use the correct yaml. I attempted to do a symlink to that file to where `hsdev` expects to find it however this leads to the relative paths being incorrect.

[2016-09-22 11:05] Kasceh commented on #275
Perhaps this is an issue for https://github.com/mvoidex/hsdev instead?

[2016-09-22 17:45] mvoidex commented on #275
@Kasceh, thanks for investigation. Yes, it's hsdev issue

[2016-09-23 14:40] karan-ta commented on #281
i want to see output in console of sublime text.
when i do ctrl + B on a haskell file (runghc command is executed )- the output is shown in sublime text console.

but when i do sublime haskell build - i cannot see the output in sublime text console as there is no way to do stack exec from within sublime text through sublime haskell plugin.

[2016-09-30 19:08] nitingupta910 opened #283 "hsdev version"
Just installed SublimeHaskell and it complains:

The latest hsdev is 0.2.1.0 but not sure how much work is needed for supporting this newer version.

[2016-09-30 19:13] mvoidex commented on #283
Fixed

[2016-09-30 19:13] #283 closed

[2016-09-30 19:14] mvoidex commented on #278
There are now sections, which can be folded

[2016-09-30 19:14] #278 closed

[2016-10-02 08:22] FPtje opened #284 "Type signature on next line doesn't pass at all"
There's a test that specifically tests for function signatures on the next line. There's a comment that states that this test passes. In reality, it clearly doesn't:
![2016-10-02-100406_714x362_scrot](https://cloud.githubusercontent.com/assets/1202014/19019414/bf21d9a2-8887-11e6-8006-7cdb05e17825.png)

The cursor is on `myFunction1`. Scope hunter clearly shows that the function name is not in the

[2016-10-08 08:59] YLiLarry commented on #274
Second this. I find that Sublime Haskell keeps reporting "Sublime Haskell: hsdev ping: no pong" in the console even when I'm writing C code. Is there a way to only enable it for Haskell code?

[2016-10-08 11:09] Jan129 opened #285 "No auto completion of import Yampa"
I use macosx and when I try to import a module e.g. Yampa (which I installed with "stack install Yampa" ) sublimeHaskell can't find it. What do I have to do for importing module FRP.Yampa ?

Thx,
Jan

[2016-10-11 14:43] iamrecursion commented on #274
I've been manually disabling and enabling it, but it's frightfully clunky to do so.

[2016-10-14 21:19] jonaprieto commented on #274
Yes!, Sublime turns so slow, and in at some point, I'd closed it after disabling the package, and everything comes normally when I open again the next time.

[2016-10-18 15:03] mvoidex commented on #274
Sry guys, have no time
I agree, it is annoying

[2016-11-08 13:00] scowan1995 opened #287 "SublimeHaskell: hsdev executable couldn't be found"
I have installed hsdev using the cabal install command but Sublime doesnt seem to be able to find it. I can run
[code]
and see that hsdev is installed with cabal but for some reason SublimeHaskell can't find it. The full error message from Sublimehaskell is

SublimeHaskell: hsdev executable couldn't be found!
It's used in most features of SublimeHaskell
Check if it's installed and in PATH
If it's

[2016-11-08 13:32] Lustres commented on #287
I tried those but still doesn't work
1. Go to `Preferences >> Package Settings >> SublimeHaskell >> Settings - Users`
2. Add my `hsdev` path to `add_to_PATH`

I'm on macOS Sierra, Air early 2014.

[2016-11-11 17:18] jkeuhlen opened #288 "Can't get check/lint to run. Infer types crashes hsdev"
I'm not sure if this is a bug here or over on [hsdev](https://github.com/mvoidex/hsdev) but I've been having issues lately where the check/lint functions just run forever. The error panel never becomes available and it will continually say it's checking on the bottom of the screen. Additionally, If I try and run the infer types command, SublimeHaskell loses it's connection to the hsdev server (it

[2016-11-26 02:56] jbayardo opened #289 "can_complete_qualified_symbol not defined on every autocomplete action"
Situation is: fresh cabal install, just necessary packages to run hsdev. Create a "test.hs" file on home directory, open it up.

Type "import " thus far everything works and autocomplete window shows successfully. After import is done, attempt to do anything that autocompletes. This should give:

I have attempted toggling import autocompletion and a few other options and nothing worked so far.

[2016-12-11 15:49] mvoidex commented on #284
Maybe when this test was written :)
It's hard to write syntax def with current limitations, especcially for indent-based language. http://www.sublimetext.com/docs/3/syntax.html may be better, but i didn't try it (and it's not compatible with Sublime Text 2).

[2017-01-05 20:44] nurpax commented on #258
I wonder if it'd be a lot of work to allow the use of intero instead of hsdev in SublimeHaskell?

Intero is designed to be used with stack and works really. I hate to admit that I've gone back to Emacs for Haskell development because of my satisfaction with intero and my inability to get ST3 and SublimeHaskell to work in my stack projects.

[2017-01-05 20:47] flip111 commented on #258
This is also an alternative http://www.stephendiehl.com/posts/vim_2016.html i haven't tried it though

[2017-01-05 20:56] nurpax commented on #258
@flip111 But that's about vim?  I'm an old time Emacs user, so going to Emacs from ST3 is only a minor annoyance.

I might be interested in taking a crack at integrating intero into SublimeHaskell in case no one else is doing that.  It might not be a lot of work.

[2017-01-05 21:02] flip111 commented on #258
I'm not sure what most of the SublimeHaskell functions are suppose to do even. So not sure how intero would fit in...

Maybe long term a solution could support https://github.com/Microsoft/language-server-protocol so that it the wheel doesn't need to be reinvented for every editor. Rust is [doing that](https://github.com/jonathandturner/rls) and it seems like a nice idea.

I find the learning curv

[2017-01-07 13:57] metaleap opened #291 "Syntax highlighting with single-line {-multi--line-} comment"
_Everything_ in a .hs file after a multi-line comment gets color-wise "outcommented" (across all color schemes), using Syntax / SublimeHaskell / Haskell, when the last line of that multi-line comment also contains a `--` anywhere.

This is in ST3 build 3126

Easy to work around but reporting because a bug is a bug  ;)  who knows, maybe it resides in a core function reused by SublimeHaskell in othe

[2017-01-07 14:17] metaleap opened #292 "Syntax highlighting: not all functions are recognized"
See 2nd one in this screenshot:

![image](https://cloud.githubusercontent.com/assets/22109/21742260/4f7cadd8-d4eb-11e6-9abf-fd6af08e746f.png)

Source located at https://github.com/metaleap/HaXtatic/blob/master/__tmp_nu_/Bloks.hs

The issue isn't helped by adding a full signature-with-types declaration, but it **is** resolved by removing the apparently somehow offending line just above it:

`in (so

[2017-01-07 16:50] metaleap opened #293 "I have a working ghc-mod, but SH doesn't work it out"
It's on my `%PATH%` and also in `"add_to_PATH": ["C:\\Users\\roxor\\AppData\\Roaming\\local\\bin"]` but when changing a .hs file, then in the Console I see:

    Sublime Haskell: ghc-mod check didn't exit with success on 'D:\dev\hs\hax2\Tmpl.hs'
    Sublime Haskell: ghc-mod lint -h -u didn't exit with success on 'D:\dev\hs\hax2\Tmpl.hs'
    Exception in thread Thread-11:
    Traceback (most recent

[2017-01-08 09:51] metaleap commented on #293
Must have been an initial/incomplete-setup issue at my end, as I haven't encountered the above anymore since then. (As I'm not using "properly defined projects" (stack/cabal yamls with deps etc), neither the hsdev nor the ghc-mod seem to yield usable outputs, but that's my own fault and no big deal.)

[2017-01-08 09:51] #293 closed

[2017-01-08 17:14] metaleap opened #294 "Disabling SH's built-in Syntaxes"
At the simplest, I suggest SH should respect when a user switches .hs files to a non-SH Syntax. It seems to routinely, autonomously switch back my .hs files to SH's own Haskell syntax and to switch back to my non-SH choice I'd have to manually go to View/Syntax/..

Specifically whatever I choose under "Open all with current extension as..." gets overridden by SH at my end with ST3

[2017-01-09 05:18] #294 closed

[2017-01-10 10:29] metaleap commented on #277
Seeing the same .. also functions with `|` guards instead of normal `=` get different highlighting. Distracting sometimes as the eye jumps to the "off-base"-seeming syntax coloring thinking "I have a syntax error --- ah nope just miscoloring". By now I reached the stage where I ignore what I think is mis-coloring, but then it _did correctly_ indicate a syntax issue I _could_ have caught well befor

[2017-01-21 15:50] mvoidex commented on #277
Yes

It is :) Especially because haskell is indent-based language
One day there was a bug, when sublimetext 3 works well, but sublimetext 2 goes into infinite loop on some haskell source.

[2017-01-30 21:25] iamrecursion opened #298 "hsdev IO exception in stack-based project"
I'm seeing errors akin to this every time that SublimeHaskell attempts to call to hsdev.

`
Sublime Haskell: hsdev check returns error: ghc error, id: 4, msg: io exception: readCreateProcess: <snip>\AppData\Roaming\local\bin\stack.exe "path" "--compiler" "ghc-8.0.1" "--arch" "x86_64" (exit 1): failed
`

This error occurs for `hsdev check`, `hsdev types` and `hsdev complete` with the same message.

[2017-01-30 21:27] mvoidex commented on #298
Can you try running this:

    stack.exe path --compiler ghc-8.0.1 --arch x86_64

within you stack project?

[2017-01-30 21:41] iamrecursion commented on #298
That produces the significant amount of output as mentioned before. Please find it below, with any identifying paths snipped.

[code]

[2017-01-30 21:51] mvoidex commented on #298
Ah, I see.
This is valid output, but hsdev says, that stack exits with error code 1 (`(exit 1)`).

Try run same exactly this command from ghci:

Can you also look into hsdev's log at `C:\Users\<user>\AppData\Local\Sublime Text 3\Cache\SublimeHaskell\hsdev\hsdev.log`? There may be some additional info

p.s. i am at UTC+3, here's 1 am now, so i can look into tommorow when i have some time

[2017-01-30 22:25] iamrecursion commented on #298
I've run those commands from the ghci instance provided by `stack ghci`, and also calling ghci on the system path. I assumed that when you said "your stack directory" you were referring to the project directory.

Running from the system ghci I get:
[code]

Running from ghci within the stack project gives the same result:
[code]

Looking in the hsdev log, the only things I can see are some IO Excep

[2017-01-30 22:30] iamrecursion commented on #298
Looking through the Sublime console I've also spotted this

[code]

[2017-01-31 09:10] mvoidex commented on #298
Search for `AppData\Roaming\local\bin\stack.exe` invocation, or `readCreateProcess`. There should be error with same message as SublimeHaskell shows. Or you can just upload log somewhere, I'll take a look.
(you can also delete it, and reproduce bug again, so that log will be smaller)

Seems, that your SublimeHaskell plugin is not updated. There's issue for it: https://github.com/SublimeHaskell/Sub

[2017-01-31 22:24] iamrecursion commented on #298
That's odd! It seems my Package Control has been failing to keep plugins up to date. Having updated I can no longer reproduce both issues. I will let you know if either of them re-emerge.

I'm sorry for not checking the plugin version beforehand. I'd assumed that Package Control was operating properly.

[2017-01-31 22:28] mvoidex commented on #298
no problem

[2017-02-04 21:16] mvoidex commented on #298
I'll close issue, feel free to reopen if issue reappear

[2017-02-04 21:16] #298 closed

[2017-02-07 21:31] iamrecursion commented on #298
I'm not sure if it's related, but on a different system (with an identical setup as far as I can tell) I'm seeing IO Exceptions as follows `Scope leaves with exception: C:\Development\haskell_platform\8.0.1\lib\settings: openFile: does not exist (No such file or directory)`.

As far as Package Control is concerned, SublimeHaskell is up to date, as is hsdev.

Please find the hsdev log here: [hsdev.

[2017-02-07 21:47] mvoidex commented on #298
Haven't you moved your ghc by hand from one folder to another? Or just installed new ghc and removed old one?
This may be when `hsdev` was built with `ghc` installed in `C:\Development\haskell_platform\8.0.1`, but now it seems to be gone.
`hsdev` uses `libdir` from `ghc-paths` package, which is hardcoded unfortunately. I.e. if you build `hsdev` with `ghc` from `C:\ghc`, it will use only this folde

[2017-02-08 15:52] iamrecursion commented on #298
Ah, that was the initial issue! I didn't realise that I needed to rebuild hsdev on changing my Haskell Platform version.

Fixing that, however, has allowed me to reproduce the initial error that this Issue has been concerning: `hsdev scope modules returns error: io error, id: 5, msg: readCreateProcess: C:\Users\<USER>\AppData\Roaming\local\bin\stack.exe "path" "--compiler" "ghc-8.0.1" "--arch" "x8

[2017-02-14 01:48] bscottm commented on #287
Pull the latest commits to `master`, unless a new sub-version of the plugin has been released in the last day (13 FEB). Make sure that you have updated `add_to_PATH` in your user preferences, if necessary. For example, on Mac OS X:

    add_to_PATH = ["$HOME/.local/bin", "$HOME/.cabal/bin"]

Bug should be fixed.

[2017-02-14 01:48] bscottm commented on #287
You will have to restart ST if you update your user preferences.

[2017-02-14 06:23] moodmosaic opened #299 "Seeing '?' instead of '::' in type/symbol info"
I've installed SublimeHaskell through Package Control and set it to work with hsdev. Everything works fine except that I see a strange `?` instead of `::` when hovering on a type/symbol.
<img width="594" alt="screen shot 2017-02-14 at 8 17 12 am" src="https://cloud.githubusercontent.com/assets/287532/22917645/ac811f9e-f28e-11e6-9e7f-c266a1c9c201.png">

I'd appreciate any ides on how to fix this.

[2017-02-14 06:32] mvoidex commented on #299
Set "unicode_symbol_info" to false in settings (maybe this should be default).
You can also try setting "font_options": ["directwrite"] instead (this is not sublimehaskell option, it's common one), if you are on Windows, to enable font substitution

[2017-02-14 07:00] moodmosaic commented on #299
Wow. Thank you very much for the prompt reply. Setting `unicode_symbol_info` to `false` in SublimeHaskell settings fixed it!

<img width="595" alt="screen shot 2017-02-14 at 8 55 10 am" src="https://cloud.githubusercontent.com/assets/287532/22918583/9ad82152-f293-11e6-88c9-ebcf91cb3e92.png">

[2017-02-14 07:00] #299 closed

[2017-02-14 10:36] moodmosaic commented on #299
Turns out I needed also the `"font_options": ["directwrite"]` one.

[2017-02-14 11:01] mvoidex commented on #299
Sry, don't understand, what do you mean? Setting `"font_options": ["directwrite"]` shouldn't be necessary if you disabled unicode. If you still have strange symbols somewhere, then it's a bug

[2017-02-14 11:08] moodmosaic commented on #299
`"unicode_symbol_info": false` in SublimeHaskell settings fixes the issue shown in the screenshots above.

---

But then, when you type, you still see this:

<img width="570" alt="screen shot 2017-02-14 at 12 32 12 pm" src="https://cloud.githubusercontent.com/assets/287532/22926690/67b6da8e-f2b6-11e6-9eb1-edd9f28caf39.png">

And to fix that one, you also need `"font_options": ["directwrite"]` in t

[2017-02-14 11:19] mvoidex commented on #299
Oh, I see. When you have "directwrite" enabled, you won't see broken symbols in popup and symbol info panel, so you can enable "unicode_symbol_info" if you like nice arrows instead `->`.

Disabling "unicode_symbol_info" haven't affected on autocompletion popup since it's cached. It's bug. But sublime restart (or even closing/opening file or updating it, i.e. smth that will drop completion cache) s

[2017-02-14 11:23] moodmosaic commented on #299
Thank you. Actually, the combination `"font_options": ["directwrite"]` with `"unicode_symbol_info": false` is all I need since I prefer the 'built-in' arrows.

(There might be some small hidden in the combination of these settings though, yeah. [This](https://github.com/SublimeHaskell/SublimeHaskell/issues/299#issuecomment-279678367) is all I tried.)

[2017-02-15 21:47] bscottm opened #300 "ST2: SublimeHaskell is hideously broken"
Tried testing SublimeHaskell on ST2 just to ensure that it still works. It doesn't. Among things, the 'html' module is not pre-installed.

I'm willing to go in and attempt to fix. But the better path is probably to drop ST2 support altogether. After all, ST2's Python is a version of 2.6 dated 2010.

[2017-02-15 21:50] mvoidex commented on #300
Since there's no issue about broken ST2, i support dropping its support.
@nh2, what do you think?

[2017-02-15 22:46] bscottm commented on #287
@Lustres, @scowan1995: Can you retest using the latest SublimeHaskell? This bug should be fixed (because I'm also a Mac OS X user, preferentially, and I did actually fix this bug. :-)

[2017-02-16 04:56] Lustres commented on #287
Thx, It works. But I did a little change.
Add cabal installed package path to `add_to_PATH`
you can get the path in file  `~/.cabal/config`
It's `~/Library/Haskell/bin` on my Mac

[2017-02-16 13:17] scowan1995 commented on #287
Thanks bscottm. It works for me.

[2017-02-16 18:19] bscottm commented on #291
@metaleap: I think I've fixed this issue on my fork's `comment_fix` branch. If you can clone/checkout my fork, would you mind verifying before I issue a pull request?

[2017-02-16 18:22] metaleap commented on #291
@bscottm just so you don't sit & wait around uselessly for me --- regrettably i can't right now! hope the maintainer will give your pull-request a try :)

[2017-02-16 18:23] bscottm commented on #287
@Lustres: I think it might be better if there were a setting to add "well known paths", such as `~/.local/bin` and `~/.cabal/bin` (or whatever happens to be set in `~/.cabal/config`. Would that work for you?

[2017-02-16 18:25] #287 closed

[2017-02-16 18:28] bscottm opened #302 "Add well known paths"
Enhancement: Add a new setting that adds `~/.local/bin` and cabal paths to PATH. Enabled by default.

[2017-02-16 18:30] bscottm commented on #274
@jaxuru, @YLiLarry, @iamrecursion, @jonaprieto: I'll look into it in the near future.

[2017-02-16 18:32] bscottm commented on #284
@FPtje: My style is multiline and it works for me.

[2017-02-16 18:33] iamrecursion commented on #274
Excellent to hear! Your half-open pipe fix has fixed a not just one (as I said on Haskell-Cafe), but two of the issues I've been having.

[2017-02-16 20:26] mvoidex commented on #291
@metaleap, he is maintainer now :)

[2017-02-17 04:18] bscottm commented on #284
@FPtje: It's broken.

[2017-02-17 05:37] FPtje commented on #284
Yes, it is. Hence the existence of this issue.

[2017-02-17 06:58] bscottm commented on #284
@FPtje: Snarkiness doesn't motivate me to make this bug a priority. :-)

[2017-02-17 07:06] bscottm commented on #274
@iamrecursion: Thanks for the hat tip! It's going to take a bit of refactoring. Demand loading is actually implemented, but the code needs to be moved around. ST loads the plugin source in alphabetical order and the current demand loading is embedded in `autocomplete.py` (one of the first files loaded.)

[2017-02-17 07:32] FPtje commented on #284
Sorry. I honestly don't understand what you meant to say. Did you mean to confirm that the test is incorrectly marked as passing?

[2017-02-17 07:57] iamrecursion commented on #274
Looking forward to it! I'd offer to help if I had more free time, but not at the moment. I hope it goes smoothly for you!

[2017-02-18 03:02] dylanmann opened #303 "Highlighting Issue with Indented Guards"
In a function such as the one below, the starred line is not highlighted properly (`insert` is not recognized as a function)

    insert :: (Ord e) => e ->BST e -> BST e
    **insert v t@(N l x r)**
      | v < x     = N (insert v l) x r
      | v > x     = N l x (insert v r)
      | otherwise = t
    insert v E = N E v E

[2017-02-18 05:01] bscottm commented on #292
@metaleap: ST syntax highlighting is all done via regexps. ST3 is more stateful and flexible. For the time being, SH needs to maintain compatibility with ST2, which limits options.

[2017-02-18 05:03] #289 closed

[2017-02-19 03:08] bscottm commented on #284
@FPtje: The short answer to why this case doesn't work: syntax highlighting is entirely driven by regular expressions, not by a parser. It's unlikely that this case has an easy fix without completely refactoring the highlighting code (very time consuming in light of other issues.)

[2017-02-19 20:22] FPtje commented on #284
I'll have to agree with you there. It's very difficult to do this correctly with regex.

[2017-02-20 09:27] iamrecursion commented on #303
This is likely to be the same issue as #292. As @bscottm mentions there, the current highlighter is regex based due to SublimeHaskell still providing ST2 support (though #300 discusses dropping that requirement).

[2017-02-20 10:40] moodmosaic opened #304 "Support for Unicode filenames?"
It looks like SublimeHaksell (or rather `hsdev`?) isn't working with filenames like *MaîtreD*, *MaîtreDTests*, etc. At least, [this](https://github.com/ploeh/dependency-rejection-samples/tree/master/Haskell) project doesn't work, but it *does* work in Atom/ide-haskell (which uses `ghc-mod`).

[2017-02-20 15:54] mvoidex commented on #304
There's at least ont issue with hsdev I've noticed. I've created standalone file 'Foo∀.hs' and then scanned it with hsdev:

    hsdev start
    hsdev scan --file Foo∀.hs
    hsdev module -f Foo∀.hs  # returns scanned module
    hsdev module -m Foo∀  # same, but select module by its name
    hsdev check -f Foo∀.hs  # checks file, ok

But `hsdev symbol foo` (`foo` defined in `Foo∀.hs`) returns symbo

[2017-02-20 21:36] shamadoo opened #305 "Unable to install hsdev"
Followed the instructions, installing Haskell Platform 8.0.2 for OSX (Mavericks).  Then after a cabal update, I did a cabal install hsdev.  It appears the dependencies are not correct.

$ cabal install hsdev
Resolving dependencies...
cabal: Could not resolve dependencies:
trying: hsdev-0.2.1.0 (user goal)
trying: ghc-8.0.2/installed-8.0... (dependency of hsdev-0.2.1.0)
next goal: haddock-api (depe

[2017-02-20 21:40] mvoidex commented on #305
https://github.com/mvoidex/hsdev/issues/46

[2017-02-20 22:09] shamadoo commented on #305
Thanks for the quick reply.  I went down that rabbit hole earlier.  Using 8.01:

[code]

I then issue _cabal install happy_, followed by _cabal install hsdev_:

[code]

Looks like a lower level compilation error from a missing function or import?

Thanks again!

[2017-02-20 22:16] mvoidex commented on #305
My bad. Broken dependencies. I've updated deps on hackage. Try to `cabal update` and than `cabal install` again.
Or maybe `cabal install hsdev --constraint=simple-log==0.5.1` should work too

[2017-02-20 22:19] shamadoo commented on #305
Thanks for the fast turnaround.  At least with a vanilla cabal install hsdev:

[code]

Will try again now with the constraint and will reply again.

[2017-02-20 22:21] shamadoo commented on #305
Same result.

[2017-02-20 22:22] shamadoo commented on #305
FYI, your original change in dependencies was picked up.  Not sure if I included it before, but after my cabal update, I built an additional package:

[code]

[2017-02-20 22:26] mvoidex commented on #305
I'm going to sleep now. I'll try to find out solution tomorrow

[2017-02-21 10:30] mvoidex commented on #305
Reproduced with `0.2.1.0`. Try 0.2.2.0 (on hackage now)

[2017-02-21 12:52] shamadoo commented on #305
That did it!  Looks like the new hformat-0.1.0.1 solved things.  Thank you very much!

As an aside, where would one normally post about these kinds of issues?  The root cause seemed to be in hsdev's dependencies itself.  Is there a better forum or area to report these issues than here at Sublime.  Again, just trying to educate myself.

Very much appreciate your help getting hsdev to work with 8.0.

[2017-02-21 12:56] mvoidex commented on #305
Glad to know!
You can open issues about hsdev in its github repo: https://github.com/mvoidex/hsdev
If you're not sure (i.e. something doesn't work in sublimehaskell, but you don't know if it's hsdev issue), you can make issue here

[2017-02-21 12:57] #305 closed

[2017-02-21 12:59] shamadoo commented on #305
Ah ok.  Great.  Looks like from the repo URL, you are the owner of hsdev, and I am glad to have posted where you could see this!

Just separately, the plugin itself apparently has an upper version bound on hsdev that is now causing a warning to be emitted in Sublime:

[code]

[2017-02-21 13:01] mvoidex commented on #305
Thanks, forgot about this

[2017-02-21 13:05] mvoidex commented on #305
After PackageControl updates your plugin, it should work

[2017-02-21 13:12] shamadoo commented on #305
Okay, there must be some latency between the push and when it is available for me to upgrade.  Will hold tight for a bit.  Thank you again.

[2017-02-21 14:31] shamadoo commented on #305
Just upgraded, and no error messages.  Woot!  Thanks.

[2017-02-21 14:49] mvoidex commented on #305
Glad to know :)

[2017-02-21 17:29] bscottm commented on #303
@dylanmann, @iamrecursion: This one is likely fixable.

[2017-02-21 18:27] shamadoo commented on #305
One last item to inquire about.  Is hsdev usable with 8.0.2?  I ask because SublimeHaskell defaults to builds with Stack.  And that apparently is incompatible with 8.0.1.  See https://ghc.haskell.org/trac/ghc/ticket/13312.  Happy to iterate on builds with you to get that working if it helps.  Thanks!

[2017-02-22 01:03] bscottm commented on #303
@dylanmann, @iamrecursion: Yes, fixed, but the Almighty only knows what I might have just broken by accident.

[2017-02-22 01:07] bscottm commented on #275
@Kasceh: Most of these problems should be fixed once the latest master is tagged and released. If you're bold enough, I'll get up a branch for you to test on my clone so that you can retest the ST plugin. Let me know.

[2017-02-22 01:26] bscottm commented on #291
@metaleap: Should be fixed in latest push onto master.

[2017-02-22 01:26] #291 closed

[2017-02-22 01:27] bscottm commented on #302
Pushed onto master.

[2017-02-22 01:27] #302 closed

[2017-02-22 01:27] bscottm commented on #303
@dylanmann, @iamrecursion: Should be fixed by latest push onto master.

[2017-02-22 01:27] #303 closed

[2017-02-22 01:29] bscottm commented on #287
@Lustres, @scowan1995: New option called "add_standard_dirs" added to SublimeHaskell options, pushed onto master branch. Please test and ensure that this is what you expected from the enhancement. Thanks!

[2017-02-22 01:30] bscottm commented on #292
@metaleap: Might be fixed with my latest push onto master.

[2017-02-22 01:31] bscottm commented on #241
Merged commit, closing issue.

[2017-02-22 01:31] #241 closed

[2017-02-22 05:51] bscottm commented on #292
@metaleap: I cloned your repo because the link was bad. It does look like this issue is fixed. Although I'm dreading the new issue reports as the result of hacking the syntax regexps.

[2017-02-22 19:37] bscottm commented on #294
@metaleap: Update your plugin. Should have a new setting, `use_improved_syntax`. Set this to `false` in your user settings and SH will no longer impose its shipped syntax on all of your files.

[2017-02-23 17:26] bscottm commented on #264
@cmahon: Recently fixed.

[2017-02-23 17:26] #264 closed

[2017-02-28 04:44] moodmosaic opened #306 "Type-checking takes ~3-4 seconds (slow?)"
Is there a way to make type-checking faster when pressing CTRL+S?

With the default configuration, it takes about ~3-4 seconds in almost every *.hs file that I try with :confused:

This isn't very practical, because each time I try something, I need to wait for ~3-4 seconds until I get feedback on whether it type-checks or not.

[2017-02-28 15:19] mvoidex commented on #306
It's bug in hsdev, i'll try to fix when i have some time. I believe i'll have some this weekend.

[2017-02-28 16:22] moodmosaic commented on #306
Wow, that'd be awesome! Thank you.

[2017-03-01 00:16] bscottm commented on #281
@karan-ta: Update the plugin and look for a "SublimeHaskell: Stack Exec" command. Verify that this works for you. My simple test: 'cabal --help'.

Also, there is support for shell-like quoting, if you need to put quotes around arguments.

If this works the way you want it to work, please close the issue.

[2017-03-01 00:18] bscottm commented on #285
@Jan129: Can you verify that this is still a problem for you?

[2017-03-01 01:02] bscottm commented on #252
@leiserfg: `hindent` support was merged today. Update your plugin and you should find a `SublimeHaskell: HIndent` command.

[2017-03-02 00:06] bscottm commented on #281
@karan-ta: I should add -- getting "live" build result output is on my To-Do list. It's a bit more complicated than `stack exec`.

[2017-03-02 00:08] bscottm commented on #270
@rogergl: Update `hsdev` and the SublimeHaskell plugin, and retest. This issue should be solved.

[2017-03-02 14:25] Jan129 commented on #285
@bscottm I use now fedora 25 but I have the same problem. I did install Yampa with "stack install Yampa"
I don't get autocompletion when I type "import Y"

[2017-03-02 17:15] bscottm commented on #285
@Jan129: I'll have a look.

[2017-03-02 17:29] bscottm commented on #276
@jaxuru, @mvoidex : This is a duplicate of issue 274.

[2017-03-06 04:19] xldenis opened #307 "SublimeHaskell crashing on OS X"
I've tried using SublimeHaskell a few times over the past few months and it's never worked, but it seems to be getting less broken each time! 😄 . Anyways, I'm getting errors like this whenever I try running any command in SublimeHaskell.

[code]

[2017-03-10 20:38] cartazio opened #308 "build seems to hang"
on commit 3d2753568a28260dd329822d4deb6d4b1ec63444 in my repo
https://github.com/cartazio/libressl-hs (that commit is the current tip of the WIP branch)
when i'm using new-build as my build command, on OSX,

sublime haskell hangs instead of giving me the type errors, but the command line execution works fine.

I had a similar issue with vanilla build before, but this seems to be more of the same,

[2017-03-10 20:39] cartazio commented on #308
may or may not have to do with not doing a 'new-configure' before hand, but i dont think so ...

[2017-03-11 12:56] mvoidex commented on #306
Can you try version from https://github.com/mvoidex/hsdev/tree/no-ensure-uptodate branch?

[2017-03-11 13:48] moodmosaic commented on #306
Any hints for an easy way to update my current `hsdev` installation based on that branch?

[2017-03-11 13:50] mvoidex commented on #306
Run these commands:

    git clone -b no-ensure-uptodate https://github.com/mvoidex/hsdev
    cd hsdev
    cabal install

[2017-03-11 13:53] moodmosaic commented on #306
Yep, I did that already and got this:

[code]

[2017-03-11 14:02] mvoidex commented on #306
Fixed `directory` dependency constraints, it should be at least `1.2.6.0`, try again after pulling new commit

[2017-03-11 14:04] moodmosaic commented on #306
Getting this now :/

[code]

[2017-03-11 14:10] mvoidex commented on #306
Oh, this dependency exists in case of ghc < 8
If you can't switch to ghc 8.0.1, i'll try to get ghc-7.10.3 and install hsdev with it, but it'll get some time

[2017-03-11 14:11] moodmosaic commented on #306
I guess I could try installing in Stack via `stack init --solver` and then `stack install`. I'll keep you posted.

[2017-03-11 14:22] moodmosaic commented on #306
Nah, `stack init --solver` didn't work either - I guess I'll have to switch to ghc > 8 in order to test this...

---

[code]

[2017-03-11 14:23] mvoidex commented on #306
You can also wait when i have some time to build it with ghc-7. I'll try within few days

[2017-03-11 18:18] mvoidex commented on #306
Just noticed, stack tried to install `ghc-8.0.2`, it's known problem: https://github.com/mvoidex/hsdev/issues/46, 8.0.1 should work.

[2017-03-12 14:01] cartazio commented on #308
definitely seeing that recent sublime is hanging / not terminating subprocess calls properly with new build on errors now ...

[2017-03-12 20:24] mvoidex commented on #308
Hi, i'll try to get into next weekend

[2017-03-12 23:01] cartazio commented on #308
If I forget, please as me to post my new build edits so you can reproduce
it.

I can also make links to my binaries and config available
On Sun, Mar 12, 2017 at 4:24 PM Alexandr Ruchkin <notifications@github.com>
wrote:

[2017-03-13 07:31] moodmosaic commented on #306
Thanks for the hint 👍 I'm currently traveling so will get to this hopefully this week, once I'm on a reliable WiFi connection 😃

[2017-03-13 17:14] bscottm commented on #307
Will fix the `ProcHelper` bug (easy fix, although, really, I did test it.) Not sure about the `UnicodeDecodeError`.

[2017-03-13 17:15] bscottm commented on #308
If you build from the command line/terminal window, do you have a lot of error output?

[2017-03-13 17:19] bscottm commented on #307
`filter_command.py` is related to using an indenter. Which one were you using?

[2017-03-13 17:38] bscottm commented on #281
Silence is tacit consent. Closing.

[2017-03-13 17:38] #281 closed

[2017-03-13 17:39] bscottm commented on #275
Silence is tacit consent. Assuming bug is fixed. Closing.

[2017-03-13 17:39] #275 closed

[2017-03-13 17:40] bscottm commented on #252
@leiserfg: Did the new version of the plugin solve this problem for you?

[2017-03-13 17:42] bscottm commented on #270
Silence is tacit consent. Closing issue. :-)

[2017-03-13 17:42] #270 closed

[2017-03-13 19:12] xldenis commented on #307
I have `stylish-haskell` installed and available on the `$PATH`.

[2017-03-13 20:49] bscottm commented on #307
Yeah. Just staring at the code on the current `master` branch -- it's an obvious bug. I've already fixed this, but haven't updated the `master` branch with a new release, pending an answer in another issue. Hopefully, I can push a new release tomorrow or Wednesday.

[2017-03-13 21:00] bscottm commented on #307
Unicode: Do you have a specific locale set or are you using UTF-8?

[2017-03-13 21:59] xldenis commented on #307
I'd be fine with testing a branch if you can show me how. As for locale, it's set to `en_CA.UTF-8`.

[2017-03-14 05:10] bscottm commented on #307
- Uninstall the SublimeHaskell plugin (`PackageManager: Remove package`)
- Then use `git` to manually install the plugin:

[code]

The branch's name is `reactive_output`. You can get back to the `master` branch (the current release version):

[code]

You can also completely remove the directory and use `Package Manager` to re-install the released plugin.

[2017-03-14 05:12] bscottm commented on #308
@cartazio: If you're willing to try to test using the `git` version, here's how:

- Uninstall the SublimeHaskell plugin (`PackageManager: Remove package`)
- Then use `git` to manually install the plugin:

[code]

The branch's name is `reactive_output`. You can get back to the `master` branch (the current release version):

[code]

You can also completely remove the directory and use `Package Manag

[2017-03-14 14:16] mvoidex opened #309 "Syntax: unicode symbols"
Something is broken?

![image](https://cloud.githubusercontent.com/assets/1637937/23904731/fc0b5104-08d9-11e7-9d51-b63bb543f3f2.png)

[2017-03-14 16:43] bscottm commented on #309
Given the complexity of the pattern matches... might be. :-)

[2017-03-15 00:13] moodmosaic commented on #306
Yes, it *feels* much faster to me using this branch. This has been tested with GHC 8.0.1, as per the [https://github.com/mvoidex/hsdev/issues/46] suggestion.

[2017-03-15 09:31] mvoidex commented on #306
Thanks for testing, I'll merge it on weekend

[2017-03-15 15:20] xldenis commented on #307
I've tested it lat night, definitely seems to crash less however, I still get errors with `Show Types`

[code]

and most commands return errors along the lines of:

[code]

However `stylish` works now which is already a big deal to me!

[2017-03-15 16:39] bscottm commented on #307
@xldenis: To paraphrase Mike Elkins, author of the 'mutt' mail client: "All versions of SublimeHaskell suck, this one just sucks less"? :-)

The Python error I can fix fairly easily, at least to ensure that plugin handles the unexpected. The `hsdev` errors probably need @mvoidex to diagnose.

[2017-03-15 16:49] xldenis commented on #307
For sure! Being able to run Stylish from ST is already pretty huge for me, but having the `Show Types` feature working would be _amazing_

[2017-03-15 18:30] bscottm commented on #307
@xldenis: Show Types -> works for me on a Haskell file that has no errors. The 'NoneType is not iterable' error is fixed.

    pushd "~/Library/Application Support/Sublime Text 3/Packages/SublimeHaskell"
    git pull
    popd

[2017-03-15 18:43] bscottm commented on #308
@cartazio: I will push a new version of SublimeHaskell with a possible fix to this issue later today (Pacific TZ, US). However, I will need you to verify that this issue is fixed... (silence is tacit consent after a week, and then I close the issue... :-)

[2017-03-15 19:06] xldenis commented on #307
It doesn't work for me and the file has no errors since `stack clean && stack build` works fine without errors.

The only log produced is

[code]

[2017-03-15 19:20] cartazio commented on #308
i'm a teeny bit hosed this week... need to do some crypto proofs for work
on a commercial time scale :''-o

On Wed, Mar 15, 2017 at 2:43 PM, B. Scott Michel <notifications@github.com>
wrote:

[2017-03-15 19:46] cartazio commented on #308
oh, let me know when the new version is up and i'll test it out :)

[2017-03-15 19:47] cartazio commented on #308
(didn't read closely enough to see that I'd need only restart sublime to pickup the candidate fix)

[2017-03-15 22:03] bscottm commented on #307
@xldenis: Have you updated `hsdev` recently?

[2017-03-15 22:09] bscottm commented on #308
@cartazio: New version of plugin merged. Let me know if this fixes the issue (preferably in the next week or so, if you can.)

[2017-03-16 01:09] xldenis commented on #307
I'm running `0.2.0.0`, since it isn't included in any more recent stackage lts releases.

[2017-03-16 18:47] bscottm commented on #307
@xldenis: Copy the following and save as `stack.yaml` in `hsdev`'s top-level directory:

[code]

Build using `stack build --install-ghc`, because the resolver wants to use ghc-8.0.1 and `--install-ghc` will install a _local_ ghc, not use your system ghc.

[2017-03-17 04:02] xldenis commented on #307
using

[code]

in my `.stack/global/config.yml` fixes the build issues! Everything seems to work this is amazing!

[2017-03-18 11:34] moodmosaic commented on #306
BTW, with GHC 8.0.1 and https://github.com/mvoidex/hsdev/tree/no-ensure-uptodate, I get weird things in the console when I start Sublime Text 3:

[code]

[2017-03-18 12:10] moodmosaic opened #311 "Seeing multiple definitions when hovering over a symbol"
Is this behavior correct? It looks like it's giving me all possible definitions it can find (?)

![image](https://cloud.githubusercontent.com/assets/287532/24071847/5035f70e-0be4-11e7-8253-86b89638d1bd.png)

---

Here's another example of this behavior, where the same type info is shown twice (!)

![image](https://cloud.githubusercontent.com/assets/287532/24071853/7429af8e-0be4-11e7-86a3-9d23eb70f

[2017-03-18 15:41] mvoidex commented on #311
Yes, first one is inferred type, second is generic. Maybe message could better to make it clear.

[2017-03-18 15:47] moodmosaic commented on #311
Hmm... What's happens if there are more than one generic ones? It'll show a huge list?

[2017-03-18 16:02] mvoidex commented on #311
By generic I mean type signature (i.e. function was declared with), so it should be only one

[2017-03-18 16:10] cartazio opened #312 "the -fno-code type checking path should still write out interface files"
[code]

[2017-03-18 16:11] cartazio opened #313 "example of how i use cabal new-build with sublime haskell"
eventually this stuff will get renamed to build, i hope :) , but fyi for those who wanna use it with current sublime haskell, i have the following edit in the `build.py` file of the package

[code]

[2017-03-18 16:18] cartazio commented on #308
now i just get exit code 0 vs 1, but no output from stderror  or wherever ghc / cabal emits simple things like

[code]

added that error to test it out, seems like youre dropping something, at least when using new build check out #313 to see how i shim in new build

[2017-03-18 16:26] cartazio commented on #308
for context my sublime hs user config is

[code]

for example, if you were to clone my numerical haskell repo at the current tip commit on master,
https://github.com/wellposed/numerical/commit/ed0471d25c051d6821f70726df8fad9cabb87260
cabal new-build reports the following warnings, none of which show up in sublime haskell! (even when i wipe out the dist directory!)

[2017-03-18 16:28] cartazio commented on #308
(or dist-newstyle directory)

either way, this is more of a regression cause i dont even get the warnings at the end, just the cli exit codes :(

[2017-03-18 16:29] cartazio commented on #308
@bscottm appreciate your patience ... and i hope im being moderately informative.

[2017-03-18 17:42] bscottm commented on #308
@cartazio: Two questions:

- There's an enhancement to `build.py` that you'd like me to integrate?
- How to reproduce the `numerical-0.1.0.0` issue? Compile using `cabal` as my build system? Can I sandbox?

[2017-03-18 19:21] cartazio commented on #308
do cabal new-build, or cabal build should work. i can confirm that both
cabal build and new-build show lots of warnings on CLI, and at least when i
do my slightly tweaked version using new-build instead of build wrt my
build.py file theres no warnings output

the enhancement is something i'm more than happy to just by hand edit back
into my sublime haskell instance locally while cabal new-build is

[2017-03-18 23:48] bscottm commented on #308
@cartazio: Ok, if I understand you correctly, there's missing output if I `cabal build`. I can track that down. 8.0.1 or 7.10.3?

[2017-03-18 23:49] bscottm commented on #308
@cartazio: At least the build doesn't hang. :-)

[2017-03-20 01:17] cartazio commented on #308
I'm on 8.0.2 but should be the same in any of them.

The build would never hang, merely sublime ui

Make sure you're on up to date cabal install.  I'm on OS X 10.12

Maybe the error reporting is on stderr and you need to track both stdout
and stderr, and then something with that?  I have no clue what I'm talking
about. :)

On Sat, Mar 18, 2017 at 7:49 PM B. Scott Michel <notifications@github.com>

[2017-03-20 04:29] moodmosaic commented on #311
I still have a hard time to figure this out :( If you look at the 1st screenshot, the first type signature looks different than the second one.

[code]

[2017-03-20 06:17] mvoidex commented on #311
Oh, I see, you're right. It's bug in name lookup - it shows two different `try`, and correct one is first. I'm experimenting with using `haskell-names` package for names lookup, but there are still some work to be done before it will be ready to merge.

[2017-03-20 22:08] bscottm commented on #308
@cartazio: Vexing. I'm trying to multiplex `stdout` and `stderr` output to the build window. I'm probably getting too clever by a half.

[2017-03-20 22:14] bscottm commented on #306
@moodmosaic: The `<hsdev...>` lines are from `hsdev`'s `stdout` and `stderr`, respectively. The plugin has to drain the `stdout` and `stderr` pipes coming from the `hsdev` process. Otherwise, the `hsdev` process will hang because the OSes pipe buffer gets full with no one to read it (no, you can't close the SublimeText side of the pipe because that causes other issues.)

The obvious fix: Make `hsd

[2017-03-20 22:15] bscottm commented on #306
@moodmosaic: And here I thought I was fixing things for the better...

[2017-03-21 05:16] bscottm commented on #308
@cartazio: Found the problem. Need to test more before pushing update.

[2017-03-21 05:18] bscottm commented on #306
@moodmosaic: Will push the reduced debug on next update (tomorrow or Wednesday.)

[2017-03-21 05:20] moodmosaic commented on #306
@bscottm Thank you! When you do that, could you please let me know from which branch should I pull?

[2017-03-21 17:11] cartazio commented on #308
yay! care to share what happened?

On Tue, Mar 21, 2017 at 1:16 AM, B. Scott Michel <notifications@github.com>
wrote:

[2017-03-21 20:08] mvoidex commented on #308
@bscottm, sorry for delay, i'll look into your branch in few days

[2017-03-21 21:50] cartazio commented on #308
any ways i can test/validate/by hand patch for now till the next time i restart sublime ;)?

[2017-03-21 23:08] bscottm commented on #308
@cartazio: Unicode string foo and universal newlines in subprocess.Popen.

[2017-03-23 00:28] bscottm commented on #308
@cartazio: Sorry about the interminable pause... no pun intended. The branch name in my repo (bscottm/SublimeHaskell) is `reactive_output`.

[2017-03-23 00:28] bscottm commented on #308
@cartazio: And I'm still doing testing. Mac OS X is later this evening.

[2017-03-23 04:07] bscottm commented on #308
@cartazio: SublimeHaskell master updated. Update plugin, issue SBF.

[2017-03-23 04:08] bscottm commented on #307
@xldenis: New version of plugin pushed. Update and let me know if it sucks less.

[2017-03-23 04:08] bscottm commented on #306
@moodmosaic: Updated plugin pushed. SBF.

[2017-03-23 04:09] bscottm commented on #304
@moodmosaic: Can you test this with the updated plugin?

[2017-03-23 06:10] moodmosaic commented on #306
@bscottn, sounds good!👌 From which branch should I pull from?

[2017-03-23 12:29] cartazio commented on #308
Ok:

1) i get the warnings now

2) build on file save seems to no longer work (or maybe its clever and just ignores `	"enable_auto_build": true,` in the sublime haskell user file config)? so i'm having to select the build command on the command pallet

3) doesn't seem to highlight the warnings sites, but that perhaps should be an option setting?

[2017-03-23 12:31] cartazio commented on #308
so progress but regressions :)

[2017-03-23 12:36] cartazio opened #314 "build on save no longer works with current release"
likely fallout of a change included with the fix for https://github.com/SublimeHaskell/SublimeHaskell/issues/308 ?

[2017-03-23 13:46] bscottm commented on #314
@cartazio: Yes, probably.

[2017-03-23 14:00] bscottm commented on #314
@cartazio: Update, test, repeat. (found something I missed from a previous refactoring effort.)

[2017-03-23 15:06] xldenis commented on #274
This would be nice, `hsdev` currently takes up 500mb as soon as I open sublime, even if I'm just writing text or editing a different language. Ensuring that `SublimeHaskell` no-ops until a haskell file loads would be greatly appreciated.

[2017-03-23 16:21] bscottm commented on #274
@xldenis: `hsdev` should not get fired up until you load Haskell source into ST3. So, if you have a `.hs` file open, SublimeHaskell will fire up `hsdev`.

Let me get past the current release (and refactoring issues). I was working on startup refactoring, but then this whole problem of builds "hanging" and other minor issues came up. :-)

[2017-03-23 16:44] moodmosaic commented on #304
@bscottm, sure! From which branch should I pull from?

[2017-03-23 17:23] bscottm commented on #304
@moodmosaic: Just update your plugin or pull from `master`.

[2017-03-23 20:13] bscottm commented on #313
@cartazio: I'm willing to make this a user option (after all, that's what indexes the dictionary.) Would you post a diff so that it's easier to see what the (wait-for-it) the differences are?

[2017-03-23 21:59] cartazio commented on #314
ok, seems to work now, just have to make a micro twiddle so that sublime thinks theres something to save :)

[2017-03-23 22:40] #314 closed

[2017-03-23 22:43] bscottm commented on #308
@cartazio: Going once...

[2017-03-23 22:43] bscottm commented on #307
@xldenis: Going once...

[2017-03-23 22:46] bscottm commented on #265
@cartazio: Is this still a problem? Or can this issue be closed?

[2017-03-24 03:22] cartazio commented on #308
Works for me afaict
On Thu, Mar 23, 2017 at 6:43 PM B. Scott Michel <notifications@github.com>
wrote:

[2017-03-24 03:23] cartazio commented on #265
Seems to do the stuff :)

I'm sure there's some differences but works for me again :)
On Thu, Mar 23, 2017 at 6:46 PM B. Scott Michel <notifications@github.com>
wrote:

[2017-03-24 03:49] bscottm commented on #308
Feel free to re-open if necessary.

[2017-03-24 03:49] #308 closed

[2017-03-24 03:50] bscottm commented on #306
@moodmosaic: Better or worse?

[2017-03-24 03:51] bscottm commented on #288
@jkeuhlen: Please update the SublimeHaskell plugin (and hsdev, if necessary) and see if this issue has been fixed. I'm reasonably confident that it has been.

[2017-03-24 03:56] #252 closed

[2017-03-24 06:41] moodmosaic commented on #306
*Way* better. Thank you, @bscottm 👍

[code]

@mvoidex, I think that now, once https://github.com/mvoidex/hsdev/tree/no-ensure-uptodate is merged, we should close this?

[2017-03-24 06:48] moodmosaic commented on #304
Unfortunately, no 😕 This one doesn't work. I'm getting the exact same behavior.

I've just installed SublimeHaskell from Package Control. Here's the output I'm getting:

[code]

[2017-03-24 14:52] bscottm commented on #304
@moodmosaic: The problem lies with `hsdev`, not `SublimeHaskell`'s UTF-8 I/O.

[2017-03-24 15:02] #118 closed

[2017-03-24 15:14] #96 closed

[2017-03-24 15:15] #95 closed

[2017-03-24 15:16] #18 closed

[2017-03-24 15:56] moodmosaic commented on #304
Oh, OK, I'll open an issue there then. Thank you.

/cc @mvoidex

[2017-03-24 15:56] #304 closed

[2017-03-24 18:50] bscottm commented on #300
@nh2, @mvoidex: Trying to fix SublimeHaskell to work with ST2 is pointless. There are so many calls to ST3-specific `sublime` module functions that cannot be fixed.

[2017-03-24 18:50] bscottm commented on #307
@xldenis: Going twice...

[2017-03-24 18:51] bscottm commented on #232
@danald: Fixed in current plugin, but not be using `shell=True`.

[2017-03-24 18:51] #232 closed

[2017-03-24 18:56] bscottm commented on #70
@k-bx: User settings seem to work in the current plugin. Closing -- feel free to re-open if this continues to be an issue.

[2017-03-24 18:56] #70 closed

[2017-03-24 18:57] bscottm commented on #47
Closing this issue. Assuming it was implemented.

[2017-03-24 18:57] #47 closed

[2017-03-24 18:58] bscottm commented on #81
Closing. Assuming fixed.

[2017-03-24 18:58] #81 closed

[2017-03-24 23:47] jkeuhlen commented on #288
I updated SublimeHaskell and hsdev, but I'm still having issues. It's different, but I still can't get anything to check or lint, and most of the symptoms I had before were the same.

Here's the output of the console I see now when I try to get check to run:

Again, hover tips still work (although it doesn't show any haddock style comment descriptions), and some of the other functions for hayoo/fi

[2017-03-25 00:06] bscottm commented on #288
@jkeuhlen: I'm assuming that you have SublimeText3 (because I tested with SublimeText2 and the plugin doesn't work at all.)

- `stack` or `cabal` build system?
- If `cabal`, have you done `cabal configure`?
- If `stack`, have you done an initial `stack build`? (You may have to ask SublimeHaskell to `Reinspect all` afterward.)

[2017-03-25 00:13] jkeuhlen commented on #288
@bscottm  Yes, I'm on ST3.

I'm using `stack`. and everything works correctly with `stack build`. This example is from a dummy project where it isn't working either, I've been using SublimeHaskell for about the last year, and it worked great up until around November (a little bit before I opened this issue).

Originally I thought it was an issue with inspecting inside of git sub-modules or followi

[2017-03-25 00:40] jkeuhlen commented on #288
I'm also seeing this error a lot:

Sublime Haskell: listen: connection to hsdev lost: [WinError 10054] An existing connection was forcibly closed by the remote host

[2017-03-25 18:20] mvoidex commented on #306
Uploaded [hsdev-0.2.2.2](http://hackage.haskell.org/package/hsdev-0.2.2.2) with this fix

[2017-03-25 18:20] #306 closed

[2017-03-25 18:36] mvoidex commented on #300
As long as we preparing PR to package control to drop ST2 support ([sublime-haskell/drop-st2](https://github.com/SublimeHaskell/package_control_channel/tree/sublime-haskell/drop-st2)), we can also change releasing strategy - https://packagecontrol.io/docs/submitting_a_package#Step_4
Should we?

We can also add labels. I've added only "haskell" for now.

[2017-03-25 19:56] bscottm commented on #300
@mvoidex: Totally concur.

[2017-03-25 20:02] bscottm commented on #300
@mvoidex: Although, thinking about it, ST2 has been broken ever since you (or @nh2) decided to call  `sublime.cache_path` or use `Phantom`s to highlight text areas. I generally use branches to do development before merging back to `master`. In this instance, might not be entirely necessary.

I do agree that releases should be more disciplined (using tags).

[2017-03-25 20:04] bscottm commented on #288
@jkeuhlen: Can you step me through how you created the dummy project, so that I can try to reproduce the issue?

Also, it occurred to me that you could have a mismatch between the GHC used to compile `hsdev` and the GHC being used in the dummy project.

[2017-03-26 03:47] xldenis commented on #307
Oh hey, sorry. The plugin isn't erroring in the same ways, but there seems to be some issues with `hsdev` which can cause it to suck up a ton of CPU time and memory.

[2017-03-26 04:19] bscottm commented on #307
@xldenis: I'm going to close this issue because `hsdev` issues belong to the `hsdev` project.

[2017-03-26 04:19] #307 closed

[2017-03-26 19:22] xldenis commented on #307
Yep, agreed.

[2017-03-26 22:43] dabro opened #315 "remote hsdev?"
How does one connect to an hsdev running in a container?  eg, if I run `hsdev start --port 8000` in the container, how can I connect from Sublime Text running on host?  The closest config option I see is `"hdevtools_socket"`, but the documentation says hdevtools isn't used if hsdev is.

Second, can I run different hsdev builds in container and host?  eg ghc 8 on host, 7.10.1 on container?

[2017-03-27 01:02] jkeuhlen commented on #288
I tried updating/reinspecting all again and it looks like the checkers are running again! There is another issue I'm seeing now that looks like it is a separate issue though, do you want me to report it here or create a new issue? It's spitting out errors for modules that are defined in a local package (that comes from a submodule):

I am using an older version of GHC (stack lts-6.12 / ghc 7.10.3)

[2017-03-27 04:24] bscottm commented on #269
@mtolly: Turning this into an enhancement. @xldenis will be responsible for implementation. We'll use Sublime project-specific preferences to specify which `stack.yaml` to use. It's not just your particular use case, but also when developers have multiple `stack.yaml`-es for different resolvers.

[2017-03-28 04:13] xldenis opened #316 "stack exec fails"
running the `Stack Exec` command fails with:

[code]
The following simple diff fixes the issue:
[code]

[2017-03-28 16:25] bscottm commented on #316
Pushed to SublimeHaskell master. Thanks for catching this!

[2017-03-28 16:25] #316 closed

[2017-03-28 16:30] bscottm commented on #315
@dabro: There isn't a way today. Marking as an enhancement to be worked off in the near future.

We'd have to add a couple of new preferences to specify "local" vs. "remote" (local == SublimeHaskell starts `hsdev` vs. remote == SublimeHaskell connect to a remote `hsdev`), and the `hostname:port` where the remote `hsdev` lives.

[2017-03-28 16:31] #238 closed

[2017-03-29 17:53] CodeInLean opened #317 "Error trying to parse settings:Invalid escape in Packages\Users\SublimeHaskell.sublime-settings 93:18"
I get this error when I try to setup sublimehaskell in windows 7 by editing the add_to_path.. not forgetting the hsdev executable couldn't be found message..

{
	// Enables ghc-mod (you should have it installed,
	// e.g. via cabal install ghc-mod).
	// See the add_to_PATH settings to specify a custom location.
	"enable_ghc_mod": true,

	// Enable auto completion of module imports
	"auto_complete_i

[2017-03-29 18:49] bscottm commented on #317
@CodeInLean: Line 93 is "add_to_PATH", if I copied and pasted your settings correctly. An empty list should not (does not) parse incorrectly (see above: "add_to_PATH": []).

It's possible you did something like this:

    "add_to_PATH": [ "C:\Users\foomatic\local\bin" ]

You'd have to double-escape the backslashes:

    "add_to_PATH": [ "C:\\Users\\foomatic\\local\\bin" ]

Forward slashes work as

[2017-03-29 18:52] bscottm commented on #288
@jkeuhlen: Yes, you need to match your GHC to your `hsdev`, which means you need to compile `hsdev` with 7.10.3.

[2017-03-29 18:54] jkeuhlen commented on #288
@bscottm That makes sense, did I miss it in the readme? (if not could it be added?).

Is `stack install hsdev` not sufficient for building with the correct version of `GHC`? Do I need to clone and build instead?

[2017-03-29 19:01] bscottm opened #318 "GHC consistency between hsdev and user's codebase"
This will likely become a Frequently Reported Bug: The GHC used to compile `hsdev` needs to match the GHC that the user's development GHC. This afflicts developers who have multiple GHC installs or use `stack` with a project-specific GHC or multiple LTSes.

Problem: How to find the "correct" `hsdev`?

[2017-03-29 19:09] bscottm commented on #288
@jkeuhlen: Yes and no. Yes, it's the correct command. No, because you probably need to tell `stack` which resolver to use. For the 7.10.3 series, it would be something like this:

    stack install --resolver=lts-6

(if I recall correctly -- haven't tried this out on my command line.)

[2017-03-29 20:07] jkeuhlen commented on #288
@bscottm Thanks for the help. `stack install hsdev --resolver=lts-6.12` was the correct thing for me and it looks like things are starting to behave better again. There was another issue I reported that I believe was fixed on master, if I'm on the 7.10.3 series, can I expect back-ports of bug fixes? Or should I only see those in the most recent versions on GHC 8?

[2017-03-29 20:16] bscottm commented on #288
Yes, `stack install --resolver=lts-6` or `stack install --resolver=lts-6.30` would compile.

I did start an issue about matching GHC and `hsdev`, because I don't think you'll the the last person to encounter this problem.

[2017-03-29 20:17] bscottm commented on #288
@jkeuhlen: That's more of an `hsdev` question than a SublimeHaskell plugin question. @mvoidex is pretty good about trying to keep `hsdev` working across the swath of compiler versions.

[2017-03-30 16:36] dylanmann opened #319 ""GHCI current file" does not work in current release."
There is a simple fix that can be applied locally: add import os to repl.py, but I'm not sure if you guys want to handle it in a different way.

[2017-03-30 19:20] CodeInLean commented on #317
cool, but I'm getting the  "(SublimeHaskell: hsdev executable couldn't be found!
It's used in most features of SublimeHaskell
Check if it's installed and in PATH
If it's not installed, run 'cabal install hsdev' to install hsdev
You may also want to adjust 'add_to_PATH' setting)" even though I have this as my specified path,

	"add_to_PATH": ["C:\\Users\\Thabang\\AppData\\Roaming\\cabal\\bin"],

[2017-03-30 23:10] tobia opened #321 "Add import broken"
I just tried "Add import" but it failed with this error:
[code]
So I added `import re` on top of that file and then it failed with this:
[code]
It seems `stdout` is a string, so I changed both occurrences of `io.TextIOWrapper(stdout, encoding='utf-8')` at lines 278 and 281 into `io.StringIO(stdout)` and finally it worked.

*(Damn duck-typing languages! What if it's **not** a duck? What then!?)*

I

[2017-03-31 04:05] xldenis commented on #269
What's your usecase for that? Testing out different GHC versions? Different stack resolvers?

[2017-03-31 15:24] mtolly commented on #269
I have a public open-source program, and a private closed-source library that it can optionally use. [I asked the `stack` people](https://github.com/commercialhaskell/stack/issues/2246) if they had advice on how to set this up but eventually hit upon having 2 `stack.yaml` files for the 2 configurations.

[Here](https://github.com/mtolly/onyxite-customs/tree/b5560a2d2d/haskell) is my project folder

[2017-03-31 16:29] xldenis commented on #269
Cool, I have a commit adding support for custom `stack.yaml`s on a per-project basis, I'll add support for switching between them within the project. It seems like that would fit your usecase 😄

[2017-03-31 16:33] xldenis commented on #274
![image](https://cloud.githubusercontent.com/assets/451373/24559823/be7c73d4-1605-11e7-83cb-652d945ec4f1.png)

`hsdev` booted up on sublime start, even when I only have ruby code open.

[2017-04-01 03:43] dabro commented on #315
I'm not great with Python, but I could give it a try if you'd point me in the right places in the code.
Obviously can see
[code]

[2017-04-02 15:27] tobia opened #322 "SH inhibits standard ST completions even when inhibit_completions: false"
How to reproduce:

1. Open any file where SH is getting proper predictions from hsdev: for example, if you type `put` the popup menu starts with `putChar :: Char -> IO ()`
2. Type `myVeryLongFuctionName :: Int -> Int` and newline
3. Type `my`

Expected outcome: the popup menu should contain `myVeryLongFuctionName` as it would if SH was not installed, indeed it should ***start*** with that item.

A

[2017-04-04 05:08] bscottm commented on #317
@CodeInLean: Could you check to ensure that `hsdev.exe` is in `C:\Users\Thabang\AppData\Roaming\cabal\bin`? Or try using `%APPDATA%\local\bin` in `add_to_PATH`?

[2017-04-04 05:10] bscottm commented on #321
@tobia: Thanks for reporting this. I'll look into it.

[2017-04-04 05:45] bscottm commented on #315
@dabro: That is the general vicinity of the code needs to be changed. Problems to be solved: (a) user option for local vice remote hsdev [need host + port option as well], (b) use that option to bypass `create_server` and connect to the remote (create the sockets, connect.)

I'm a little behind where I'd like to be -- threw pylint at the codebase and now it's turned into more of a code audit.

[2017-04-04 05:46] #319 closed

[2017-04-04 16:12] jkeuhlen commented on #288
Original issue solved; GHC version needs to match `hsdev` version.

[2017-04-04 16:12] #288 closed

[2017-04-04 23:58] JonathanGallagher opened #323 "Show type works seldomly"
I have a simple file
With the contents
`module Main where

import TestImport -- the symbol fg x = x + 1 is imported

main :: IO ()
main = do
    let x = 5
    a <- f x
    print a

f :: Int -> IO Int
f 0 = return 1
f n = do
    m <- f (n-1)
    return $ n * (fg m)
`
In Sublime Haskell, hover shows types, and I can do Ctrl+T,s and get a pop-up with type information.
So all is great.  Then I tried o

[2017-04-04 23:59] dabro commented on #315
Right, thanks.  Actually, it was the config mapping from user options to code arguments that I was the most unsure of.  Will see if I can find some time to figure out.

[2017-04-05 01:05] bscottm commented on #315
@dabro: Probably best if you clone and work off my `bscottm/SublimeHaskell` repo, in particular, my `master` branch. I haven't merged it with `SublimeHaskell/SublimeHaskell` because it's a big change -- the results of `pylint` code auditing. I'm reasonably confident that the audit result is stable, but testing is needed.

Also, it's in a better state so that either you or I can add this feature. M

[2017-04-05 01:08] bscottm commented on #322
@tobia: Would you be able to test my `bscottm/SublimeHaskell` `master` branch. I haven't merged it with `SublimeHaskell/SublimeHaskell` because it's a big change -- the results of `pylint` code auditing. I'm reasonably confident that the audit result is stable, but testing is needed.

I tested your use case and it appears to be fixed. However, I'm interested in what else might be broken in terms o

[2017-04-05 09:08] mvoidex commented on #305
No, `hsdev` can't be built with 8.0.2, because there's no `haddock-library` for such ghc version

[2017-04-05 11:29] shamadoo commented on #305
Ok, thank you for the clarification.

[2017-04-06 08:45] csumanth98 commented on #287
@Lustres
what should I add to add_to_PATH = [#################]
I'm on Sierra 10.12.4.

[2017-04-06 22:13] bscottm commented on #315
@dabro: Hacked in remote server support -- you will need to adjust your user settings, in particular `hsdev_host` (hostname), `hsdev_port` (port) and `hsdev_local_process` (set to false).

I haven't merged this into `SublimeHaskell/SublimeHaskell` yet. I need to (a) update the Package Control metadata so that updates happen when the release tag changes, (b) set release tags on `SublimeHaskell/Subl

[2017-04-06 22:14] bscottm commented on #315
@dabro: Also, `hsdev` appears to exit when the last client disconnects. (This is correct, @mvoidex?)

[2017-04-06 22:17] mvoidex commented on #315
@bscottm, no. This is true only for client that sent command 'link' and then disconnected.

[2017-04-06 23:32] bscottm commented on #315
@mvoidex: So, don't `link` for `hsdev` that wasn't started by SublimeHaskell. Got it.

[2017-04-06 23:59] bscottm commented on #287
@csumanth98: Technically, you shouldn't have to add anything if `add_standard_dirs` is `true` and you installed `hsdev` in `$HOME/.cabal/bin` or `$HOME/.local/bin`.

[2017-04-07 17:58] jkeuhlen opened #324 "Fails to load interface for packages included in cabal file"
When I manually run `SublimeHaskell: Check`, this is the output I receive:

And the relevant message on the console:

I do have `text` included in my cabal file:

[code]

And my code is incredibly simple to reproduce:
[code]
I'm running the most recent version of SublimeHaskell and hsdev:

[code]

[2017-04-07 21:13] bscottm commented on #324
@jkeuhlen: Just to ask the obvious question, but did you 'configure'?

[2017-04-07 21:42] bscottm commented on #321
@tobia: SBF when PackageControl detects the version number change to 1.2.0. When it does change, please update and close if fixed.

[2017-04-07 21:43] bscottm commented on #315
@dabro: Once PackageControl detects the version number change to 1.2.0, update and test. Close if fixed.

[2017-04-08 15:47] bscottm commented on #323
@JonathanGallagher: Do you have multiple GHC-es installed? If so, which version compiled `hsdev` and which version compiled `ErrM.hs`?

Admittedly, `SublimeHaskell` should not generate that traceback, so I can fix that.

[2017-04-09 18:48] bscottm commented on #323
@JonathanGallagher: The traceback is fixed in the current version, 1.2.0. The `hsdev` types error is admittedly a `hsdev` issue.

[2017-04-09 19:19] cartazio opened #325 "type errors dont highlight lines in modules"
I think that this is a regression,

though clicking on the line number jumps to the correct location, so thats good

[code]

[2017-04-09 21:49] dabro commented on #315
Am I doing something wrong?
[code]
and so on.

`SublimeHaskell.sublime-settings--User`
[code]

[2017-04-09 22:37] dabro commented on #315
OK, I overrode the settings in the default SublimeHaskell.sublime-settings (didn't know you could do that):
[code]
Seem to be having trouble connecting to hsdev server, which might be an issue with my docker setup.  I'll troubleshoot
[code]

[2017-04-10 14:37] bscottm commented on #315
@dabro: You should change your SublimeHaskell user settings (you can change the default settings, but they'll get overwritten on the next plugin upgrade.) But, yes, you can override settings and you're supposed to override them.

The `null_func` error is an error. Will fix and push an update to 1.2.1.

BTW: `hsdev start --port 4096` is how I test. So, the problem may be with your Docker config.

[2017-04-10 14:39] bscottm commented on #325
@cartazio: I'll try to reproduce. Do you have a simplified example?

[2017-04-11 16:54] jkeuhlen commented on #324
@bscottm Yup, I've tried multiple things. Can't get SublimeHaskell to work on any of my projects unfortunately. I'm happy to try any suggestions you may have.

[2017-04-11 18:48] jkeuhlen commented on #324
@bscottm I can build with stack inside the project, but when I run `hsdev` from the command line to try and find out something about a file the following happens:

But that file definitely exists. Could I be having some kind of permissions problem?

[2017-04-11 18:54] mvoidex commented on #324
@jkeuhlen it means that file is not scanned, i should make error message more clear

[2017-04-11 18:57] mvoidex commented on #324
close `SublimeHaskell` and ensure there's no `hsdev` process
try this from `C:\Users\Jake\workspace\helloworld`

    hsdev start
    hsdev scan --project .
    hsdev modules --src

Is there any errors during `scan`?

[2017-04-11 19:05] jkeuhlen commented on #324
@mvoidex  Here's what I did:

- All Sublime windows closed
- Kill hsdev
- Run the commands you gave me:
[code]
- opened up Sublime
- Ran SublimeHaskell: Check
- Got the same error output:
[code]

When I looked back through the `hsdev` log I did find the following exception:
[code]

If there's anything I can do to help debug this problem, please let me know. I've had several other problems as well

[2017-04-11 20:47] bscottm commented on #324
@jkeuhlen: You shouldn't get that traceback -- not sure how you got that code (because that's been fixed for a while.) What version of SublimeHaskell does PackageControl say you have installed? If it's 1.2.0, would you mind uninstalling it, restarting Sublime, and then reinstall SublimeHaskell?

[2017-04-11 20:52] jkeuhlen commented on #324
@bscottm, I am on v1.2.0 and I actually did an uninstall-reinstall earlier today before I posted that message.

[2017-04-12 04:10] bscottm commented on #324
@jkeuhlen: Sounds like 1.2.1 needs to be released soon. I'll look into the traceback.

[2017-04-13 01:31] bscottm commented on #324
@jkeuhlen: Pushed out out 1.2.1, waiting for PackageControl to detect the version change.

[2017-04-13 01:32] bscottm commented on #322
@tobia: Can you test with the current release on PackageControl (1.2.1)?

[2017-04-13 01:33] bscottm commented on #323
@JonathanGallagher: Can you test with the latest on Package Control (1.2.1)?

[2017-04-13 03:48] JonathanGallagher commented on #323
Sure, thank you! I will update tomorrow, and let you know how it goes.

[2017-04-13 15:59] jkeuhlen commented on #324
@bscottm @mvoidex : I just updated to SublimeHaskell v1.2.1 and `hsdev` v0.2.3.1 and followed the same procedure I outlined earlier. I'm still getting the same "Failed to load interface for `Data.Text`..." error message.  Here is the full output from Sublime startup to the check failure:

I'm not sure if it's related or not, but the advanced syntax highlighting also hasn't been working. Nor has th

[2017-04-13 20:48] jkeuhlen commented on #300
@bscottm This issue should probably be closed since ST2 support was dropped in v1.2.0.

[2017-04-13 22:59] bscottm commented on #300
Yeah. I know.

[2017-04-13 22:59] #300 closed

[2017-04-13 23:01] bscottm commented on #324
@jkeuhlen: At this point, SublimeHaskell appears to operate as intended -- no tracebacks, talks to `hsdev` properly. I would have to defer to @mvoidex to interpret the `hsdev` log.

[2017-04-13 23:04] bscottm commented on #324
@jkeuhlen: Just for clarity, does "advanced syntax highlighting" mean "doesn't show my Haddock documentation when I hover over a symbol"? Or is there something broken with syntax highlighting?

If the former, that's a `hsdev` issue -- SublimeHaskell avoids parsing buffers because it really is difficult to parse the buffer because Haskell's layout makes it difficult.

If the latter, syntax highligh

[2017-04-13 23:07] bscottm commented on #317
@CodeInLean: I'm going to close this issue due to lack of feedback (Is your installation it still broken?)

[2017-04-13 23:07] #317 closed

[2017-04-13 23:07] bscottm commented on #321
@tobia: Good, bad, ugly or indifferent? Fixed?

[2017-04-14 16:20] jkeuhlen commented on #324
@bscottm Both of those things are true, I wasn't sure if they could be related issues so I wanted to throw them out here if it helped for debugging. In the example image above, I would have expected to have the line "My function T takes a Text..." as an explanation under the hover-over-type.

For syntax highlighting, I'm using the SublimeHaskell-> Haskell syntax choice in Sublime and I expected it

[2017-04-14 16:44] mvoidex commented on #324
@jkeuhlen i'm not sure it's hsdev's issue
could you try a bit more (as before, ensure no hsdev is running):

    hsdev start
    hsdev scan --project .
    hsdev check -f .\src\Lib.hs
    hsdev types -f .\src\Lib.hs
    hsdev whois myFunction -f .\src\Lib.hs

[2017-04-14 17:01] bscottm commented on #324
@jkeuhlen: If I were to prioritize things, I'd really like to get the backend work done first before attacking syntax highlighting. That said, though, syntax highlighting would close out more issues... See what I can do.

[2017-04-14 17:02] jkeuhlen commented on #324
@mvoidex : Here is the full output from running those commands.

[2017-04-14 17:04] jkeuhlen commented on #324
@bscottm Thank you! I appreciate the work you and @mvoidex  do on this project. If I can find the time someday soon I'll try to dig into the code and see what I can do to help contribute rather than just reporting issues.

[2017-04-14 17:09] mvoidex commented on #324
@jkeuhlen check produces same error
could you create issue on [hsdev](https://github.com/mvoidex/hsdev/issues) with your project attached?

[2017-04-15 11:26] Wizek commented on #305
Is there any issue one could subscribe to to get notified once haddock-api/hsdev/sublimehaskell is compatible with 8.0.2 and/or newer?

[2017-04-15 11:32] Wizek commented on #305
Good news everyone! It seems

](https://github.com/haskell-infra/hackage-trustees/issues/90#issuecomment-287564294)

Does this mean that we can get sublimehaskell working now?

[2017-04-15 11:36] mvoidex commented on #305
Cool, I'll try to build hsdev with 8.0.2 today. You can also try yourself

[2017-04-15 12:11] Wizek opened #326 ""SublimeHaskell: Can't infer type [error]" when trying to show type; Is there a log I can check to see more details what the error is about?"
I've just recently installed Sublime Text 3, SublimeHaskell and hsdev (0.2.3.1), the latest version of each IIRC.

Is there a log of SublimeHaskell I can check to see more details what the error is about?

[2017-04-15 15:34] bscottm commented on #324
@jkeuhlen: Can I close this issue?

[2017-04-15 15:40] bscottm commented on #326
@Wizek: Open the command palette (&lt;ctrl&gt;-&lt;backquote&gt; [&lt;ctrl&gt;-`]), and look for a Python error traceback.

Also, you can change the debugging output level of `hsdev` in your SublimeHaskell user settings. Add these lines:

[code]

[2017-04-15 18:54] JonathanGallagher commented on #323
Okay.  I updated everything.  I'm not exactly sure what is going on, but
the show type now works, provided every top-level symbol has its type
explicitly declared.  hsdev, seems to be reporting "None" for the type of
top-level symbols without explicit type declarations.  Is this expected
behaviour?

On Wed, Apr 12, 2017 at 7:33 PM, B. Scott Michel <notifications@github.com>
wrote:

[2017-04-15 19:00] JonathanGallagher commented on #323
Another strange thing, that is happening:

I have command line options to the a program:

case args of
   [] -> printBackTerm
   ["unify"] -> unifyInteractive
   ... etc

There is also a library function, named unify, elsewhere in the package.
When I hover over that string "unify", I get the type of the function unify.
Is this potentially an hsdev bug?

On Wed, Apr 12, 2017 at 7:33 PM, B. Scott Mi

[2017-04-16 10:49] jrodriguesnum1 opened #327 "hsdev version is incorrect: 0.2.3.1"
Hi,

I accidentally installed the wrong version of hsdev by running `cabal install hsdev` without specifying a supported version. When I opened sublime text the following message appeared:

[code]

To attempt to solve this I've run:

[code]

The same error message still appears when I open sublime text. I've tried to remove and install SublimeHaskell again but it didn't solve the problem.

I think

[2017-04-16 11:12] mvoidex commented on #327
What does `hsdev version` says?

[2017-04-16 16:29] mvoidex commented on #305
2.2.2/2.3.1 can be built with ghc-8.0.2

[2017-04-16 21:54] jrodriguesnum1 commented on #327
"""
$ ~/.cabal/bin/hsdev version
0.2.2.2
"""

[2017-04-17 15:05] jkeuhlen commented on #324
Transferring issue to `hsdev`:https://github.com/mvoidex/hsdev/issues/59

[2017-04-17 15:05] #324 closed

[2017-04-17 17:12] mvoidex commented on #327
Don't you have `add_to_PATH` sublimehaskell setting set to smth where can be another `hsdev`?

[2017-04-17 17:31] bscottm commented on #327
@mvoidex: I can always bump the version range in the plugin, if requested. :-)

[2017-04-17 17:33] bscottm commented on #305
@Wizek, @mvoidex: Looks like I need to bump the hsdev version range in the plugin.

[2017-04-17 18:04] mvoidex commented on #305
@bscottm, notice, that there one breaking change in command line arguments of hsdev: https://github.com/mvoidex/hsdev/issues/55#issuecomment-293361820

[2017-04-17 19:01] xeoneux commented on #327
@bscottm please do! It took me 1 hour to build the current 0.2.3.1 version. 😜

[2017-04-17 19:48] jrodriguesnum1 commented on #327
Before I added the directory `~/.cabal/bin/` to the path I had no `hsdev` executable on it. In which directories does SublimeHaskell search for executables?

[2017-04-17 20:20] jrodriguesnum1 commented on #327
Sorry, my bad. I found another `hsdev` on `~/.local/bin` which is version `0.2.3.1`. I've no idea how it got there. Removed it and now the error message does not appear.

[2017-04-17 20:20] #327 closed

[2017-04-17 22:19] mvoidex commented on #323
@JonathanGallagher, yes, it's known bug
anyway, you can create issue on hsdev

[2017-04-17 23:03] xeoneux opened #329 "Default installed version of hsdev is unsupported"
I got this error after I installed SublimeHaskell:

SublimeHaskell: hsdev version is incorrect: 0.2.3.1
Required version: >= 0.2.0.0 and < 0.2.3.0
Update it by running 'cabal update' and 'cabal install hsdev'

To supress this message and disable hsdev set 'enable_hsdev' to false

[2017-04-25 22:55] cartazio opened #331 "sublime haskell depends on some environment variable thing not exposed in sublime haskell settings file"
as per usual, i'm invoking sublime haskell with my cabal newbuild change for dev

with https://github.com/cartazio/resin/tree/5eff5b766b5f7516719420c7f7d084baed13a038
(resin at that commit), i'm getting that sublime haskell is barfing but `cabal build` or `cabal new-build` both work fine ... :(

[2017-04-25 23:51] cartazio commented on #331
hrm... even though I have my full path replicated in the sublime haskell settings, if i launch sublime from shell instead of via gui builds work...

was the a recent change that depends on some environment variable lookup thats not exposed via the sublime haskell settings file

[2017-04-26 19:52] cartazio commented on #331
@bscottm  ... something else is weird because on build failures its not parsing the output of stdout anymore too ..

[2017-04-27 16:44] bscottm commented on #331
@cartazio: That's interesting. There hasn't been an update in over a week and I'll assume that you've been using this over the course of the last week, no? (Anything in the ST console window that can provide insight?)

[2017-04-27 19:21] cartazio commented on #331
it was sometime in the past two weeks...

looking at the ctr+backtick panel... i'm seeing an error in an *unrelated* haskell project in all the windows

[code]

(could it be confused/stale state from a directory movement in my exp-fam folder?)

[2017-04-27 19:23] cartazio commented on #331
nope... not the culprit .. :(

also on build success its not doing the summary of warnings any more either :(

[2017-04-27 19:24] cartazio commented on #331
(to clarify: i tend to keep sublime open for a week or two, with different project windows living for quite a while, and only restart when plugins ... stuff)

[2017-04-27 19:43] cartazio commented on #331
point being, the popup/window that shows the errors/warnings never appears, though some source highlighting thing seems to happen sometimes?

[2017-04-27 22:35] cartazio commented on #331
how can i help debug this? :)

[2017-04-28 14:23] filostrato commented on #329
Just got the same, current default version of hsdev is 0.2.3.2.

[2017-04-28 17:09] bscottm commented on #331
@cartazio: Found it. Fixed. Will push out in next update. Have to also bump hsdev version number (and command line argument updates that go along with that. Alexandr changed the command line interface to simple-log.)

[2017-04-28 18:53] bscottm commented on #329
@xeoneux: I've bumped the version number and I'm testing the fix. The current problem is that `hsdev` 0.2.3.2 does not exit when SublimeText exits. Need to fix that before releasing.

This wasn't as simple as just updating the version number. The command line arguments have to be patched differently due to a change in the `simple-log` package (I was having fun with 'log politics' -- a very Soviet

[2017-04-28 19:25] cartazio commented on #331
cool, let me know when theres a release out :)

[2017-04-28 21:16] bscottm commented on #331
@cartazio: Out. Actually, waiting for packagecontrol to detect the change.

[2017-04-28 21:21] bscottm commented on #329
@mvoidex: 'link' still works. `hsdev` exits after the last client, if a local server.

@xeoneux: Waiting for packagecontrol.io to pick up the new release tag, 1.2.2. When it does, update will follow with a fix to this issue.

[2017-04-28 21:22] bscottm commented on #326
@Wizek: Any new info?

[2017-04-28 21:22] bscottm commented on #325
@cartazio: Hopefully this is fixed in 1.2.2 and you can close the issue.

[2017-04-28 21:25] Wizek commented on #326
Yes: When I tried to set the above, all sublime windows froze.
After force killing and relaunching it froze again.
I had to reset the config from a different editor.

[2017-04-28 21:26] Wizek commented on #326
IIRC up until `"log": 3` it worked, which didn't seem to produce any useful logs. Is there a secondary log I can check to see what causes the freeze/infinite loop? :D

[2017-04-28 21:30] bscottm commented on #315
@dabro: Can I close this issue?

[2017-04-28 22:46] bscottm commented on #326
@Wizek: Hate to have to ask you to do this. Can you update to 1.2.2 and also update `hsdev` to 0.2.3.2?

[2017-04-28 22:56] bscottm commented on #321
@tobia: Closing. Feel free to reopen if needed.

[2017-04-28 22:56] #321 closed

[2017-04-28 22:57] bscottm commented on #322
@tobia: Closing. Feel free to reopen if necessary.

[2017-04-28 22:57] #322 closed

[2017-04-29 17:24] bscottm commented on #313
SBF. Closing.

[2017-04-29 17:24] #313 closed

[2017-04-29 20:00] cartazio commented on #331
ok, the build window thing now works, but there definitely an env variable issue, because I think your code is now ignoring
`	"add_to_PATH":`

[2017-04-29 20:02] cartazio commented on #331
and then sublime works if i launch it from shell...and i definitely have my ghc bin in my path and add_to_path :)

[2017-04-29 20:04] cartazio opened #332 "enable_hsdev : false ignored in settings warnings"
[code]

i definitely have enable_hsdev set to false...
also pretty sure that the subprocess call for invoking ghc or whatever isn't inheriting the right parent PATH / add_to_path logic ...

[2017-04-29 20:25] cartazio commented on #325
this is def fixed, the gui element is back

[2017-04-29 20:25] #325 closed

[2017-04-29 20:26] cartazio commented on #86
this probably is stale :)

[2017-04-29 20:26] #86 closed

[2017-04-29 20:26] cartazio commented on #100
this is probably stale

[2017-04-29 20:26] #100 closed

[2017-04-29 20:26] cartazio commented on #249
this probably is fixed / havent noticed it lately

[2017-04-29 20:26] #249 closed

[2017-04-29 22:00] cartazio opened #333 "regression: can't click on error summary to jump to error"
eg
[code]

previously i could click on those to jump to the source location

[2017-05-01 17:07] bscottm commented on #331
@cartazio: Yes, I came across that problem yesterday when I was testing a project similar to your configuration. Will push in 1.2.4 -- should I push just that fix or do you also want me to track down the issue with clicking on lines in the error window?

[2017-05-01 17:49] bscottm commented on #332
@cartazio: SBF in 1.2.4, previously noted. The backend logic definitely needs refactoring based on what the plugin finds -- no `hsdev`, fallback to `ghc-mod`. No `ghc-mod`, give up (because who really uses `hdevtools`?)

[2017-05-02 05:23] cartazio commented on #331
I'll survive either way, , but whatever is easy for you. Though having that
work again would be nice :)
On Mon, May 1, 2017 at 1:07 PM B. Scott Michel <notifications@github.com>
wrote:

[2017-05-02 14:01] bscottm commented on #329
@xeoneux: Is the plugin working for you? If so, can I close this issue?

[2017-05-02 14:10] xeoneux commented on #329
@bscottm yes it is! Thanks 😸

[2017-05-02 14:10] #329 closed

[2017-05-02 14:56] mvoidex commented on #329
Am i missing smth, why 'still'? It's desired behavior. Yes, it should

[2017-05-02 17:25] bscottm commented on #329
@mvoidex: Nope. I was doing something dippy at the time -- had to move some code around to make the change to `hsdev` command line arguments less awkward and I moved too much.

[2017-05-02 17:31] bscottm commented on #331
@cartazio: Another update (because it just bit me in a sensitive area). I was caching the entire environment in the `ProcHelper` class. Then I needed to set `os.environ['http_proxy']`. `ProcHelper` no longer caches the entire `os.environ` environment -- it just copies it and updates `PATH`.

[2017-05-03 17:06] cartazio commented on #331
the add to path fix hasn't been released yet right? 'cause I'm still seeing that issue if i dont launch sublime initially via my CLI/Shell, so something's wrong still even with a freshly relaunched sublime. also the HSDEv warning is def still firing

[code]

[2017-05-03 17:32] cartazio opened #334 "why is the keyword module being highlighted?"
![screen shot 2017-05-03 at 1 31 43 pm](https://cloud.githubusercontent.com/assets/4290/25673320/efbf289c-3004-11e7-96c4-74e8018107a7.png)

[2017-05-04 02:46] bscottm commented on #331
@cartazio: Which backend are you using? Because all three are turned off. 1.2.4 and 1.2.5 have the `add_to_PATH` fix -- if you could look in the console window, look for `add_to_PATH` -- if it is `[]`, then you still have an old version.

I have `add_to_PATH` set to `/usr/local/bin` for testing purposes (it's where the Haskell Platform stashes `cabal` and `ghc`) and IWFM (it works for me) when I d

[2017-05-04 02:47] bscottm commented on #334
I think it always has been. Is it a problem?

[2017-05-04 20:14] cartazio commented on #331
... i'm just using the results of building (sublimehaskell does nice inline cabal invocation and error reporting .. )

[code]

looks like i'm not tripping some linter related thing too ..

how do i pull up the add_to_PATH?
which settings file  do i set the logging level in?

[2017-05-04 20:17] cartazio commented on #331
derp ... there were trailing whitespace and other things in that add_to_path settings stuff. working now. It was silently accepting bad paths being added etc :)

i'm not sure if that was biting me or what :)

[2017-05-04 20:17] #331 closed

[2017-05-04 20:17] cartazio commented on #331
(i guess i had a different bug than the reported one, a PEBKAC)

[2017-05-04 20:18] cartazio commented on #334
merely confusing / unclear about what the meaning of the highlight :)

On Wed, May 3, 2017 at 10:47 PM, B. Scott Michel <notifications@github.com>
wrote:

[2017-05-04 23:50] bscottm commented on #331
@cartazio: NP. Would you prefer that I not silently discard invalid paths (code ensures that `add_to_PATH` paths are directories)? The code can be noisy, if that would prevent future user frustration.

[2017-05-04 23:52] bscottm commented on #331
@cartazio: The sublimelinter traceback seems fairly benign. I get them too without ill effects.

[2017-05-05 03:18] cartazio commented on #331
That might be a good idea. At least by default.  I can imagine some folks
hypothetically replicate their configs across machines which may have
different directories etc, so some folks might want to be able to toggle
that.  Or maybe I'm over thinking that one
On Thu, May 4, 2017 at 7:50 PM B. Scott Michel <notifications@github.com>
wrote:

[2017-05-05 16:48] bscottm commented on #331
@cartazio: That's along the lines of what I was noodling while walking Elvis last night. Someday, I'll get back to backend refactoring... :-)

[2017-05-05 21:12] bscottm commented on #333
@cartazio: Fixed? :-)

[2017-05-06 23:25] AndoBando opened #335 "Not Finding hsdev in PATH"
#On starting SumblimeText, I get:

`hsdev executable couldn't be found
check if it's installed and in PATH

hsdev will be disabled, enable it by setting 'enable_hsdev' to true`

I am pretty confident that I have hsdev installed. I used cabal to install it, and I see it in my %APPDATA%/cabal/packages/hackage.haskell.org folder.

All installs were in the default paths, but I did :`"add_to_PATH":["%A

[2017-05-07 03:54] cartazio commented on #333
yup :)

[2017-05-07 03:54] #333 closed

[2017-05-07 20:14] bscottm commented on #335
@AndoBando: Try a path without double slashes, e.g., `%APPDATA%/cabal/bin` or `%APPDATA%\\cabal\\bin` (you do have to double the backslashes.)

What was in the `%APPDATA%/cabal/pacakges/hackage.haskell.org` folder? Was `hsdev.exe` there? And was it in `%APPDATA%/cabal/bin`?

[2017-05-07 23:34] AndoBando commented on #335
Added both slashes and double backslashes, unfortunately that didn't help.
All that's in ``%APPDATA%/cabal/pacakges/hackage.haskell.org`,` are a tar.gz that seems to contain the hsdev src but not any binaries. `
%APPDATA%/cabal/bin` has a few `.exe`'s but not  `hsdev.exe`. The only `hsdev.exe` I can find is in a `.cabal-sandbox/bin` in my user, I've tried adding that to path but it seems not to be

[2017-05-08 14:56] bscottm commented on #335
@AndoBando: If you can't find a `hsdev.exe`, then it really isn't on your `PATH` anywhere. If you `cabal install`, `hsdev.exe` should get installed in `%APPDATA%/cabal/bin` (and no funky path settings are required.)

[2017-05-08 16:48] AndoBando commented on #335
Okay, does it matter where I am when I `cabal install hsdev`? Because when I do it, it installs it to a cabal sandbox instead of to my cabal. For now I just copied the `.exe`'s from my cabal sandbox to my real cabal. And sublime Haskell is finding them now.

However... it wants an hsdev between 1.6.0 and 1.7.0 and mine is 2.3.2, is there a way to downgrade my hsdev, or make sublime haskell use my

[2017-05-08 19:34] cartazio opened #336 "on first sublime text (re)launch, complains about hsdev not available despite hsdev disabled"
![screen shot 2017-05-08 at 3 23 32 pm](https://cloud.githubusercontent.com/assets/4290/25821273/6f916b06-3402-11e7-8827-45873dfa4913.png)

i even tried adding a dummy hsdev shell script that does `exit 255 ` as the entire thing and that still seems to not work even though its in my path ...

[2017-05-08 19:34] cartazio commented on #336
to recap: i have all the smart tools disabled because they dont seem to add much over just reading the docs and running ghc every once in a while (especially on a laptop :) )

[2017-05-08 22:32] bscottm commented on #336
@cartazio: Can you hold out until I finish refactoring backend interaction, or is this urgent today? Because the cure is worse than the disease, due to the way that backends are handled in the current SH plugin.

[2017-05-08 22:33] bscottm commented on #335
@AndoBando: How current is your SublimeHaskell? The current (version 1.2.5) expects 0.2.2.0 or greater.

[2017-05-09 03:01] cartazio commented on #336
Not urgent. Just annoying.  I installed the Hsdev binaries that I'm not
even sure I'll ever use to suppress the warnings on my primary machine :)
On Mon, May 8, 2017 at 6:32 PM B. Scott Michel <notifications@github.com>
wrote:

[2017-05-09 15:47] dabro commented on #315
Yes.

[2017-05-09 16:33] #315 closed

[2017-05-09 16:35] bscottm commented on #336
@cartazio: <groan> I'll figure out something q&d. At least with the refactored backend management, you'll have the option to have no backend.

[2017-05-10 05:42] bscottm commented on #335
@AndoBando: `%APPDATA%/cabal/bin` or `%APPDATA%/local/bin` are the two places where SublimeHaskell will look for `hsdev.exe` (actually, it locally augments the `PATH` environment variable, if you really like implementation details.)

Have you used PackageManager to update all packages recently?

[2017-05-11 13:43] AndoBando commented on #335
Forgive my for my ignorance, but It seems I cant update my sublime text packages. I assume the way to update the package is to go to the sublime text package manager `(Ctrl+Shift+P)` and go to Upgrade (Update?) Packages. Is that True? When I do that I get told that there are no packages available for upgrade. I've tried uninstalling and reinstalling sublime Haskell. And I have even reinstalled sub

[2017-05-11 14:02] bscottm commented on #335
@AndoBando: Definitely an old version. Release 1.2.5 is about two weeks old. You're doing the correct thing -- Package Manager: Upgrade Package (or) Package Control: Upgrade/Overwrite All Packages. When you reinstall ST3, you should also wipe out all of your settings (actually, the ST3 authors recommend that you wipe out your settings instead of uninstalling). Where your settings are stored varies

[2017-05-15 16:35] bscottm commented on #274
@jaxuru, @YLiLarry, @iamrecursion, @jonaprieto, @mvoidex, @dabro:

Quick progress update: Getting very close to having this enhancement working, probably within the next two weeks or so. I had to refactor backend management in SublimeHaskell, which, as you can imagine, is non-trivial.

I'm at a point at which beta testing will be useful, if you're willing the help and you use `hsdev` as your backe

[2017-05-15 19:22] iamrecursion commented on #274
@bscottm Is this ready to mess with in HEAD? If so, what's the current expected behaviour?

[2017-05-15 19:27] iamrecursion commented on #318
I was thinking about this today actually. Once the current backend refactoring is complete do you think it would be feasible to have an option to look in the local stack binaries for `hsdev`? At least that way the user has the option of running `stack install hsdev` for the Stackage LTS they're running. Small issue being that `hsdev` has had issues building on certain stack LTS releases in the pas

[2017-05-16 00:37] bscottm commented on #274
@iamrecursion: I'm a little leery of merging the `backend_refactor` branch into `HEAD` just yet -- I've done my testing, lazy loading seems to work for me. But your usage patterns and workflow are different from mine. So, instead of merging it into `HEAD`, I'd really prefer if a couple of issue reports could beta test it for me. This means working from my fork and `backend_refactor` branch, tempor

[2017-05-16 00:40] bscottm commented on #274
@iamrecursion: And I still need to migrate ghc-mod into the new backend management structure, prior to release. I'm going to defer on `hdevtools` for a while because I suspect that no one really uses it.

[2017-05-16 00:40] bscottm commented on #274
@jaxuru, @YLiLarry, @jonaprieto, @mvoidex, @dabro: Mentioning you all so that you have visibility on the issue thread.

[2017-05-16 05:13] bscottm commented on #318
@iamrecursion: Yes, it would be very possible to add a `hsdev` backend option to `stack exec -- hsdev`. It would also be possible to `cabal run` it too.

I think you'd want to `stack build hsdev` in the current project directory, then use `stack exec -- hsdev` to execute it. That's the recommended way for using `intero`.

[2017-05-16 20:18] iamrecursion commented on #318
That was pretty much along the lines of what I was thinking. If you're not up for looking into this I'm happy to take it onto my plate once the current back-end refactor is stable. Goodness knows it's about time for me to give back to a plugin that's given me so much over the past year.

In my mind the ideal behaviour would be to act as follows for stack sandboxes (though I'd imagine something sim

[2017-05-16 20:22] iamrecursion commented on #274
@bscottm I suspect my timeline for getting to play with this might be a little longer than you're looking for, but if you're still in need of testing for this in a couple of weeks I'll be happy to help out. I hope someone else can step up to fill the plate sooner! I'm very excited to see this working.

[2017-05-16 20:25] iamrecursion opened #337 "Extremely Long Status Bar Text"
The Sublime status bar has both left and right components. When using restricted-width windows, however, SublimeHaskell status messages can often push the right-hand-side components off the status bar entirely. This would prevent the user from having access to their tab settings from that location, for example.

The usual cause for this issue is the fact that long path names are displayed in the s

[2017-05-16 21:49] jaxuru commented on #274
I tested it out and first got this message when I tried to save an `.hs` file:
<img width="415" alt="screen 2017-05-16 at 17 22 28" src="https://cloud.githubusercontent.com/assets/8195503/26129358/e645b160-3a5d-11e7-9198-1cca590592bd.png">

I replaced my settings file with the `backends` preference block you included, and the pop-up didn't reappear, but hsdev still launched without any `.hs` files

[2017-05-16 23:36] bscottm commented on #274
@jaxru: Thanks for testing. If you checkout the `master` branch, you'll get back to version 1.2.5. I'll look into the `check_lint.run_chain` problem. I did find a few places where I could defer starting up the backend until as late as possible, so things should get better on the next `git pull`.

[2017-05-16 23:45] bscottm commented on #337
@iamrecursion: Go for it. Status bar "stuff" is in `sublime_haskell_common.py`.

[2017-05-16 23:54] bscottm commented on #318
@iamrecursion: The main "problem" is blocking the main Python thread, which also blocks ST's user interface from reacting to anything. So, even though something useful is happening, ST looks like it has locked up. I haven't figured out a good way to defer certain operations (completion queries, for example) until the backend is actually up and running. I suppose that returning no completions if th

[2017-05-17 00:03] bscottm commented on #274
@jaxuru: If you see this in the ST console window, the issue is in `hsdev`, more specifically, in `hslint-2.0.x`:

[code]

[2017-05-17 00:55] bscottm commented on #274
@jaxuru: Should be safe to pull an update on the `backend_refactor` branch.

[2017-05-17 01:16] jaxuru commented on #274
I pulled from `backend_refactor` and tried again, still starting `hsdev` automatically but now the message that it is stuck on is `SublimeHaskell: Inspecting...` instead of `Checking and Linting` . The only error messages in the console are the following:

[code]
and this:
[code]

I'm wondering if I should be doing something to reset things between trying it out, should I delete my preference file

[2017-05-17 06:49] bscottm commented on #274
@jaxuru: Using Package Manager to delete the plugin and recloning from git is a good idea, since it would kill off all of the older default plugin settings. I also fixed an issue with the null backend, which might be the source of your other issue (another pull... :-)

[2017-05-17 08:17] iamrecursion commented on #337
Thanks for the pointer. I'll pick it up when I have time in a couple of weeks.

[2017-05-17 08:20] iamrecursion commented on #318
That's a much nicer solution for the options than what I was thinking. It sounds like the optimal solution is then to automatically swap to 'no' backend while the build is taking place and then automatically swap back. I don't see why this would be too much of an issue as long as the user was provided with adequate feedback.

I'll have a look at this once the backend refactor is into stable if you

[2017-05-17 09:11] quinor opened #338 "Failed to load interface for..."
Arch Linux 64 bit, cabal, default configuration with hsdev.

Multiple errors like:

`  /home/quinor/Dropbox/kody/jpp/interpreter/src/Interpreter/Defs.hs: line 11, column 1:
    Error: Failed to load interface for ‘Data.Sequence’
  It is a member of the hidden package ‘containers-0.5.10.2’.
  It is a member of the hidden package ‘containers-0.5.7.1’.
  Locations searched:
    Data/Sequence.hs
    D

[2017-05-17 18:53] bscottm commented on #338
@quinor: Is `containers` in the project's `.cabal` file as a `Build-depends:`?

[2017-05-17 18:54] bscottm commented on #318
@iamrecursion: Thanks for the offer! I'll definitely take you up on it!

[2017-05-17 19:16] quinor commented on #338
I have no .cabal file (the project is a bunch of files for now). Is that an issue?

[2017-05-17 21:14] jaxuru commented on #274
No more error pop-ups, but I'm still getting the `IO exception while reading cache` error from earlier, along with hsdev starting up without a `.hs` file, and the infinite `Checking and Linting` message. I've noticed that it actually only happens every other time I open Sublime— could it have something to do with that cache file being fixed when the error message appears, and then broken again dur

[2017-05-18 01:31] bscottm commented on #338
@quinor: It's _the_ issue. You need to set up a `.cabal` project file so that cabal knows what dependencies you have and how to direct `ghc` to find them, e.g., the `containers-0.5.7.1` package.

[2017-05-18 01:35] bscottm commented on #274
@jaxuru: `IO exception...` is generated by `hsdev` itself -- it's relatively harmless (usually while reading `userdb.) Not somethingI can fix.

Ok -- there's a new issue on how to keep SH from starting multiple `hsdev`s. That I can fix. I did find a bug where SH prematurely started a `hsdev`, but it doesn't fix the ability of SH to spawn multiples. I'll try to fix that on the next pull.

The infin

[2017-05-18 06:32] quinor commented on #338
Thanks! I have thought​ i don't have to as long as the libraries are
installed in the system.

czw., 18.05.2017, 03:31 użytkownik B. Scott Michel <notifications@github.com>
napisał:

--
Wojciech Jabłoński

[2017-05-18 17:24] bscottm commented on #338
@quinor: If you ran `ghc` from the command line, you'd get the same error message.

[2017-05-18 17:24] #338 closed

[2017-05-23 00:18] bscottm commented on #274
@jaxuru: Sorry for the delay, go ahead and pull on the `backend_refactor` branch. Should be a little less quirky.

[2017-05-23 00:19] bscottm commented on #274
@jaxuru: You might want to disable auto-linting -- the infinite hang is not one I can easily fix (it's a `hsdev` issue and SublimeHaskell does not receive an error response.)

[2017-05-24 00:51] jaxuru commented on #274
Hello, sorry for the delay (I just graduated from college and flew home). Deleted the plugin and cloned again, and the multiple `hsdev` issue is fixed! It appears in my activity monitor when ST opens and disappears shortly after ST is closed.

`hsdev` still opens every time ST is opened, with a spike in usage when opened and closed. At this point, the usage is spike is very brief, so this issue is

[2017-05-24 02:08] bscottm commented on #274
@jaxuru: That's really weird, because when I open ST with a window that has Haskell source files, nothing happens until I switch to that window and click on the file with Haskell source. If it still happens after you reinstall, can you step me through how you started up ST, how many ST windows are open, what's in view?

[2017-05-24 02:10] bscottm commented on #274
@jaxuru: And, thanks again for being the guinea pig. It's a real help.

[2017-05-28 10:30] iamrecursion commented on #337
Finally getting to a stage where I can take a proper look at this! I've not done much ST plugin development before now, despite a familiarity with Python, so I was wondering if you had a recommended development setup. My instinct says to develop the plugin attached to a portable ST version so as to sandbox the development and testing sublime installs, but any pointers would be appreciated.

[2017-05-28 19:28] iamrecursion commented on #318
So I've been looking into this more and it seems that most stackage snapshots don't leave hsdev in a state where it can be built. The current `nightly`, for example, has dependencies too new:
[code]
The current `lts-8.15`, runs into similar issues, recommending to add explicit `extra-deps` to get around it, which doesn't fix the issue as the `lts` release has dependencies too old for other things.

[2017-05-29 20:49] iamrecursion commented on #318
`hsdev` is now submitted to stackage, courtesy of @mvoidex: fpco/stackage/pull/2545. Once it makes it into nightly this means that we can put together a reasonable plan for getting this working in preparation for the backend refactor landing.

[2017-05-29 23:06] bscottm commented on #337
Basically, that's what I do -- I use the portable version for development and testing. I also have SublimeLinter and SublimeLinter-Python installed to avoid various and sundry Python errors.

[2017-05-29 23:11] bscottm commented on #318
Actually, it wasn't that hard to add the ability to `stack exec` or `cabal exec` to the `hsdev` backend. `gcc-mod` can't do it because it has to execute in the same directory as the project cabal it's operating on.

[2017-05-30 09:55] iamrecursion commented on #318
So where does that leave this work? Still need to add the ability to automatically install it in the sandbox?

[2017-05-30 09:56] iamrecursion commented on #337
Sounds good. I was definitely going to install pep8 or pylint to that end. Which linter have you got `SublimeHaskell` conforming to?

[2017-05-31 19:06] bscottm commented on #318
@iamrecursion: Yes, the ability to automagically install in the sandbox is still an missing feature. I ended up needing to test `hsdev` in a sandboxed environment, which precipitated the hack.

[2017-05-31 19:06] bscottm commented on #337
pylint.

[2017-05-31 19:17] iamrecursion commented on #337
Noted, thanks.

[2017-05-31 19:18] iamrecursion commented on #318
Cool. Once the backend refactor is stable I guess we can work out exactly how automatic installation should behave.

[2017-06-01 13:33] JoeShanahanT commented on #269
This sounds like a very useful feature. Is there any movement on this?

[2017-06-12 21:49] cartazio opened #339 "feature request/idea: finish migrating from tmlanguage -> YAML syntax?"
may or may not make tweaking etc of those pieces easier?

[2017-06-13 03:39] codyhan94 commented on #326
I've noticed that if the file you're working in can't be loaded into `ghci` (which probably implies that it can't be compiled either because of syntax errors), then the `Show type` functionality of SublimeHaskell breaks as described.

[2017-06-13 18:31] bscottm commented on #326
@codyhan94: `hsdev` (and `ghc`) has to be able to correctly parse your source code in order to infer types. You are correct that your source can't be compile because of syntax errors -- that's what the console error message is telling you.

[2017-06-13 18:33] bscottm commented on #339
@cartazio: Actually, the YAML-based syntax file is what's used to generate the tmLanguage file, at least, the last time I tweaked it. SH has tools that do this automagically.

I just haven't been able to get back to working on syntax highlighting issues in a while.

[2017-06-13 18:34] bscottm commented on #269
@JoeShanahanT: @xldenis did a great job on the initial implementation. I haven't enabled it yet -- been a bit engaged with backend lazy-loading.

[2017-06-13 18:48] xldenis commented on #269
👋 I'm back and will start work building on top of this later this week.

[2017-06-13 19:26] cartazio commented on #339
oh, so the tmlanguage ones are being kept to keep support with slower to
update users of ST3 or perhaps even st2?

On Tue, Jun 13, 2017 at 2:33 PM, B. Scott Michel <notifications@github.com>
wrote:

[2017-06-14 07:43] JoeShanahanT commented on #269
Will there be support our situation?

In our repo we have lots of folders, some of them contain Haskell projects. At the root, we also have a `builds` folder with contains a super-yaml that builds all of our Haskell projects for CI purposes. Our yaml looks like this:

`$REPO_ROOT/builds/product_name.yaml`:

    ...

    packages:
    - ../project-a/
    - ../project-b/
    - ../project-c/
    - ..

[2017-06-14 14:43] xldenis commented on #269
The current implementation allows for a custom yaml path. Future modifications would allow for users to _switch_ the active yaml in sublime. I think that what you need is the ability to specify YAMLs, correct?

[2017-06-15 07:46] JoeShanahanT commented on #269
I usually have my sublime set to have the root of the repository open, so I need to be able to set my custom yaml as `./builds/product_name.yaml` and it have it obey locations from the yaml's location. So e.g., SublimeHaskell would find `project-a` with `./builds/../project-a/` (equivalent to just `./project-a/`). Did that make sense?

[2017-06-15 14:39] xldenis commented on #269
👍

[2017-06-15 14:40] JoeShanahanT commented on #269
Anything I can do to help? :)

[2017-06-15 15:07] xldenis commented on #269
I'm sure you can find other issues to debug 😄

[2017-06-16 16:44] bscottm commented on #269
@JoeShanahanT, @xldenis: I somewhat wish there were a Wiki where I could keep people updated on SublimeHaskell progress (and I'm sure GH has that functionality somewhere...)

I'm currently putting a few final touches on backend refactoring (aka 'backend lazy-loading') before releasing SublimeHaskell 2.0.0. It's a major change to the code base and will probably cause users some annoying breakage. O

[2017-06-16 16:57] xldenis commented on #269
You can create wikis on github! check in the settings pane.

[2017-06-19 09:50] iamrecursion commented on #274
What's the status on this feature? I'm wondering regarding #318 as that depends on this work.

[2017-07-05 08:43] ShrykeWindgrace opened #341 "Gitter mark/popup precedence"
Hi!

I am having troubles with gutter marks and popups precedence. As you can see in the screenshot, the mark comes from GitGutter, but the popup comes from SublimeHaskell:
![hover](https://user-images.githubusercontent.com/6421233/27856260-db5844ca-616d-11e7-9c9e-80ba34b6f2ee.png)

I found the "protected regions" setting for GitGutter, which allows me to prefer gutter marks from other plugins, bu

[2017-07-14 18:24] bscottm commented on #274
@iamrecursion: Work-in-progress still. Two things that need fixing before release: (1) disentangle `hsinspect` from two places in the code (if you're using `ghc-mod`, you're won't have `hsinspect` installed, but you will want the equivalent functionality), (2) fix a bug that Alexandr reported during testing.

Sorry for the pause. Been crushed by an online course I'm taking. Lots of reading and pap

[2017-07-14 18:48] iamrecursion commented on #274
No problem! Thanks for the update!!

[2017-07-14 18:57] bscottm commented on #274
@iamrecursion: Here's the problem with `hsinspect` in a nutshell -- it's a nice utility to get info out of the `.cabal` files, such as `hs-src-dirs`. Which is great, unless you're using `ghc-mod` or SublimeHaskell is just willing to support one, and only one, backend. I'm not sure the one-and-only-one backend is necessarily the right thing to do. However, parsing `.cabal` files is a real _b***h_,

[2017-07-14 20:03] iamrecursion commented on #274
I understand the hope to keep supporting `ghc-mod`, but at some point don't the technical demands to provide all the features with all the backends become too much?

[2017-07-21 15:27] cscherrer opened #342 "Renice hsdev"
For large projects, `hsdev` can bog down or even freeze the system. Is there a way to have Sublime launch `hsdev` processes with a higher niceness by default?

Thanks

[2017-07-25 18:18] BethAr opened #343 "Beginner problems."
I've installed SublimeHaskell and have some problems getting two features to work:

1. The Go To shortcuts (ctrl+r, ctrl+shift+r) don't do anything, they don't show me the symbols list. Besides, the shortcuts for Sublime's default Go To seem to be shadowed by SublimeHaskell's, so I can't use the regular Go To either without commenting SublimeHaskell's shortcuts.

2. I also don't get error highligh

[2017-07-28 00:27] cartazio opened #344 "fill out new-build style commands"
cabal 2.0 has more complete new build support

[code]

so we can have test and other auto run things work for sublime haskell in new build mode thusly

(also: i've not updated my beta branch i was using for a while, should i update it from git or release packaging channels?)

[2017-08-06 18:05] Pastafarianist commented on #336
Still an issue. I have `"enable_hsdev": false` in my config, yet the warning persists.

[2017-08-15 10:06] Pastafarianist commented on #332
This problem is still relevant as of the latest version.

[2017-08-15 10:07] Pastafarianist commented on #332
Duplicate of https://github.com/SublimeHaskell/SublimeHaskell/issues/336.

[2017-08-15 10:11] Pastafarianist opened #345 "[Feature request] Stylish on save"
It would be convenient if `Ctrl+S` also triggered `Stylish`, like Atom's `ide-haskell` and Emacs's `stylish-haskell-on-save` do.

Could be added as a pre-save or a post-save hook. The latter is probably preferable (so that the changes introduced by `stylish-haskell` could be reviewed before applying them; that's also what `ide-haskell` does), but the former is easier to implement.